{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<f:if condition="{immoobjects -> f:count()} == 0">
    <f:then>

        <div class="no-results spacer-big"><p>Es sind zur Zeit keine Wohnungen in diesem Stadtteil vorhanden.</p></div>

    </f:then>
    <f:else>

        <ul id="realestate-list" class="general-results-list">

            <f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">
                <li class="realestate-list-item {f:if(condition: itemIterator.isLast, then: 'spacer-big')}">
                    <f:link.action class="immo-information clearfix" arguments="{immoobject: immoobject}" pageUid="{settings.search.detailPage}">
                        <f:if condition="{immoobject.immoimage}">
                            <div class="immoresult-previmg">
                                <mbxrevh:previewImage immoobject="{immoobject}">
                                    <f:image src="{src}" alt="{immoobject.immoaddress.street}" width="140c" height="140c" />
                                </mbxrevh:previewImage>

                                <div class="preview-thumbs">
                                    <mbxrevh:galleryV2 immoobject="{immoobject}" immoimageRepository="{immoimageRepository}" configuration="{limit : 2, type : 'in', categories : settings.images.defaultCategory}">
                                        <f:for each="{images}" as="image" iteration="itemIteratorPrevImage">
                                            <div><f:image src="{image.imagePath}{image.filename}" alt="{image.description}" title="{image.description}" width="108" height="88" /></div>
                                        </f:for>
                                    </mbxrevh:galleryV2>
                                </div>
                            </div>
                        </f:if>

                        <div class="immo-data">

                                <f:if condition="{immoobject.actionOffer}">
                                    <div class="featured">max. <strong>{immoobject.actionOffer}</strong> Personen</div>
                                </f:if>

                                <v:variable.set name="immoaddress" value="{immoobject.immoaddress}" />
                                <div class="district"><mbxrevh:immoaddress.district immoaddress="{immoaddress}"/></div>
                                <div class="address darkblue font-bold">{immoaddress.street}{f:if(condition: immoobject.title, then: ' „{immoobject.title}”')}, {immoaddress.zip} {immoaddress.city}</div>
                                <div class="immo-basedata clearfix">
                                    <ul class="unstyled row-fluid">
                                        <li class="span2">
                                            <p class="darkblue">Preis pro Nacht:</p>
                                            <p class="darkblue">{immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                                        </li>
                                        <li class="span2">
                                            <p class="darkblue">zzgl. Reinigungsgebühr:</p>
                                            <p class="darkblue">{immoobject.costNet -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                                        </li>
                                        <li class="span3">
                                            <p class="darkblue">Wäschepaket (p.P. optional):</p>
                                            <p class="darkblue">{immoobject.costAttendant -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                                        </li>
                                        <li class="span2">
                                            <p>Größe:</p>
                                            <p>{immoobject.areaGeneral -> f:format.number(decimals: '2', decimalSeparator: ',', thousandsSeparator: '.')} m&sup2;</p>
                                        </li>
                                        <li class="span3">
                                            <p>Zimmer:</p>
                                            <p>{immoobject.rooms}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="features clearfix">
                                    <ul><f:for each="{immoobject.immofeature}" as="immofeature">
                                            <li>{immofeature.featureTitle}</li>
                                        </f:for>
                                    </ul>
                                </div>
                                <div class="continue"></div>
                        </div>
                    </f:link.action>
                </li>

            </f:for>
        </ul>

    </f:else>
</f:if>
