{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<f:if condition="{immoobjects -> f:count()} > 0">
    <f:if condition="{record}">
        <div id="c{record.uid}" class="column-header">{record.header}<hr></div>
    </f:if>

    <div class="teaser-list row">
        <f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">

            <div class="realestate-list-item teaser white-container span4">

                <div class="notelist-action">
                    <mbxrevh:notepad.hasImmoobject immoobject="{immoobject}">
                        <f:then>
                            <f:link.action class="remove" action="dropCookie" controller="Cookie" rel="nofollow" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'list', arguments : searchArgs}}">von Merkzettel entfernen</f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action class="add" action="addCookie" controller="Cookie" rel="nofollow" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'list', arguments : searchArgs}}">merken</f:link.action>
                        </f:else>
                    </mbxrevh:notepad.hasImmoobject>
                </div>

                <f:link.action class="clearfix" arguments="{immoobject : immoobject}" pageUid="{settings.search.detailPage}">
                    <div class="immoresult-previmg">
                        <mbxrevh:previewImage immoobject="{immoobject}">
                            <f:image src="{src}" alt="{immoobject.immoaddress.street}" width="116c" height="116c" />
                        </mbxrevh:previewImage>
                    </div>
                    <div class="immo-data">

                            <mbxrevh:immoaddress.assign immoobject="{immoobject}" immoaddressRepository="{immoaddressRepository}">
                                <div class="district grey"><mbxrevh:immoaddress.district immoaddress="{immoaddress}"/></div>
                            </mbxrevh:immoaddress.assign>
                            <div class="immo-basedata">
                                <p class="darkblue">
                                    <span class="label">Warmmiete:</span>
                                    {immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}
                                </p>
                                <p class="grey">
                                    <span class="label">Größe:</span>
                                    {immoobject.areaGeneral -> f:format.number(decimals: '2', decimalSeparator: ',', thousandsSeparator: '.')} m&sup2;
                                </p>
                            </div>
                    </div>
                </f:link.action>
            </div>

        </f:for>
    </div>
</f:if>
