{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<ul id="realestate-list" class="view-quickoffer">
    <f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">
        <li class="realestate-list-item item-{f:if(condition:itemIterator.isOdd, then: 'odd', else: 'even')}">
            <div class="item-wrapper">
                    <div class="realestate-img">
                        <div class="noticed"></div>
                        <img src="" alt="" title="" />
                    </div>
                    <div class="realestate-data">
                        <p class="realestate-address">
                            <span class="address-street">{immoobject.immoaddress.street}</span>
                            <span class="address-city">, {immoobject.immoaddress.city}</span>
                        </p>
                        <ul class="realestate-basedata">
                            <li class="basedata-rooms">
                                <p>Zimmer:</p>
                                <p>{immoobject.rooms}</p>
                            </li>
                            <li class="basedata-area">
                                <p>Wohnfläche:</p>
                                <p>{immoobject.areaGeneral}</p>
                            </li>
                            <li class="basedata-cost-gross">
                                <p>Warmmiete:</p>
                                <p>{immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                            </li>
                        </ul>

                    </div>
                <f:link.action action="show" arguments="{immoobject : immoobject}" pageUid="{settings.search.detailPage}">Angebot anzeigen</f:link.action>
                <f:link.action controller="Cookie" action="addCookie" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'list', arguments : searchArgs}}">auf den Merkzettel</f:link.action>
            </div>
        </li>

    </f:for>
</ul>
