<div id="realestate-detailview">
    <h1><strong>immotitle | {immoaddress.street},</strong> {immoaddress.zip} {immoaddress.city}</h1>
    <div class="realestate-data">
        <div id="realestate-image-gallery"></div>
        <div class="shortlinks"></div>
        
        <div class="data-container realestate-basedata-wrapper">
            <p class="container-title">Mietkosten</p>
            <ul class="realestate-basedata">
                <li class="basedata-cost-net">
                    <p>Kaltmiete:</p>
                    <p>{immoobject.costNet -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                </li>
                <li class="basedata-cost-attendant">
                    <p>Nebenkosten:</p>
                    <p>{immoobject.costAttendant -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                </li>
                <li class="basedata-cost-gross">
                    <p>Warmmiete:</p>
                    <p>{immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                </li>
            </ul>
            <p class="deposit">Kaution: {immoobject.deposit -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
        </div>
        
        <div class="data-container">
            <p class="container-title">Objektdetails</p>
            <ul class="list-information">
                <li>
                    <div>Zimmer:</div>
                    <div>{immoobject.rooms}</div>
                </li>
                <li>
                    <div>Wohnfläche:</div>
                    <div>{immoobject.areaGeneral}</div>
                </li>
                <li>
                    <div>Etage</div>
                    <div>{immoobject.floors}</div>
                </li>
                <li>
                    <div>Etagenzahl:</div>
                    <div>{immoobject.floorsMax}</div>
                </li>
                <li>
                    <div>Baujahr:</div>
                    <div>{immoobject.yearBuild}</div>
                </li>
                <li>
                    <div>Letzte Sanierung:</div>
                    <div>{immoobject.yearRestoration}</div>
                </li>
            </ul>
            <ul class="list-information">
                <li>
                    <div>Bezugsfrei ab:</div>
                    <div>{immoobject.availableBy}</div>
                </li>
                <li>
                    <div>WBS erforderlich:</div>
                    <div>{immoobject.requiredWbs}</div>
                </li>
            </ul>
        </div>
        
        <div class="data-container">
            <p class="container-title">Merkmale</p>
            <ul class="checklist">
                <f:for each="{immoobject.immofeature}" as="immofeature">
                    <li>{immofeature.featureType}</li>
                </f:for>
            </ul>
        </div>
        
        <div class="data-container">
            <p class="container-title">Ihr Wohnplus</p>
            <p>{immoobject.notice}</p>
        </div>
        
        <f:link.action controller="Cookie" action="addCookie" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'list', arguments : searchArgs}}">auf den Merkzettel</f:link.action> 
        
    </div>
</div>