{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<li class="{f:if(condition: firstLevelItem.hasSubPages, then: 'flyout')}">
    <a href="{firstLevelItem.link}">{firstLevelItem.title}</a>
    <f:comment><!-- Get page fal resources for flyout teaser issues --></f:comment>
    {v:page.resources.fal(table: 'pages', field: 'media', uid: firstLevelItem.uid) -> v:variable.set(name: 'pageMedia')}
    <f:if condition="{firstLevelItem.hasSubPages}">
        <div class="flyout-bg">
            <div class="row-fluid">
                <f:switch expression="{iteration.cycle}">
                    <f:comment><!-- Mieten --></f:comment>
                    <f:case value="2">
                        <div class="span4">
                            <f:cObject typoscriptObjectPath="lib.immosearchFlyout" />
                        </div>
                    </f:case>
                    <f:comment><!-- Bauen --></f:comment>
                    <f:case value="3">
                        <div class="span4">
                            <f:render partial="Navigation/Main/FlyOut/ReversedMenuSpan4" arguments="{firstLevelItem:firstLevelItem}" />
                        </div>
                    </f:case>
                    <f:comment><!-- Kiezleben --></f:comment>
                    <f:case value="4">
                        <div class="span4">
                            <f:render partial="Navigation/Main/FlyOut/ReversedMenuSpan4" arguments="{firstLevelItem:firstLevelItem}" />
                        </div>
                    </f:case>
                    <f:comment><!-- Unternehmen --></f:comment>
                    <f:case value="6">
                        <div class="span4">
                            <f:render partial="Navigation/Main/FlyOut/MenuItemTeaser" arguments="{pageMedia:pageMedia, section:'imageOnly'}" />
                        </div>
                    </f:case>
                    <f:comment><!-- Kontakt --></f:comment>
                    <f:case value="7">
                        <f:render partial="Navigation/Main/FlyOut/MenuItemTeaser" arguments="{pageMedia:pageMedia, section:'imageOnly'}" />
                    </f:case>
                    <f:case default="TRUE">
                        <div class="span4">
                            <f:render partial="Navigation/Main/FlyOut/MenuItemTeaser" arguments="{pageMedia:pageMedia, section:'normalItemTeaser'}" />
                        </div>
                    </f:case>
                </f:switch>
                <v:if stack="{0:iteration.cycle,1:'==',2:3, 3: 'OR', 4:iteration.cycle,5:'==',6:4}">
                    <f:then>
                        <f:comment><!-- Set class for reversed menu --></f:comment>
                        <v:variable.set name="class" value="reversedMenu" />
                    </f:then>
                    <f:else>
                        <f:comment><!-- Set class for normal menu --></f:comment>
                        <v:variable.set name="class" value="column-box" />
                    </f:else>
                </v:if>
                <div class="span8 {class}">
                    <f:switch expression="{iteration.cycle}">
                        <f:comment><!-- Mieten --></f:comment>
                        <f:case value="2">
                            <f:render partial="Navigation/Main/FlyOut/Rent" arguments="{firstLevelItem:firstLevelItem,pageMedia:pageMedia}" />
                        </f:case>
                        <f:comment><!-- Bauen --></f:comment>
                        <f:case value="3">
                            <f:render partial="Navigation/Main/FlyOut/MenuItemTeaser" arguments="{pageMedia:pageMedia, section:'reverseItemTeaser'}" />
                        </f:case>
                        <f:comment><!-- Kiezleben --></f:comment>
                        <f:case value="4">
                            <f:render partial="Navigation/Main/FlyOut/MenuItemTeaser" arguments="{pageMedia:pageMedia, section:'reverseItemTeaser'}" />
                        </f:case>
                        <f:comment><!-- It's actually not a reversed item but the same partial can be used here --></f:comment>
                        <f:case default="TRUE">
                            <f:render partial="Navigation/Main/FlyOut/ReversedMenuSpan4" arguments="{firstLevelItem:firstLevelItem}" />
                        </f:case>
                    </f:switch>
                </div>
            </div>
        </div>
    </f:if>
</li>