<table class="tx-mbx-realestate" >
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.unr" />
		</td>
		<td>
			{immoobject.unr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.wi" />
		</td>
		<td>
			{immoobject.wi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.me" />
		</td>
		<td>
			{immoobject.me}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.lay" />
		</td>
		<td>
			{immoobject.lay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.rooms" />
		</td>
		<td>
			{immoobject.rooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.available_by" />
		</td>
		<td>
			{immoobject.availableBy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.cost_gross" />
		</td>
		<td>
			{immoobject.costGross}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.cost_attendant" />
		</td>
		<td>
			{immoobject.costAttendant}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.cost_net" />
		</td>
		<td>
			{immoobject.costNet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.cost_buy" />
		</td>
		<td>
			{immoobject.costBuy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.deposit" />
		</td>
		<td>
			{immoobject.deposit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.year_build" />
		</td>
		<td>
			{immoobject.yearBuild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.year_restoration" />
		</td>
		<td>
			{immoobject.yearRestoration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.floors" />
		</td>
		<td>
			{immoobject.floors}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.floors_max" />
		</td>
		<td>
			{immoobject.floorsMax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.area_general" />
		</td>
		<td>
			{immoobject.areaGeneral}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.environment_main_street" />
		</td>
		<td>
			{immoobject.environmentMainStreet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.image1" />
		</td>
		<td>
			{immoobject.image1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.image_ground_view" />
		</td>
		<td>
			{immoobject.imageGroundView}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.image_city_map" />
		</td>
		<td>
			{immoobject.imageCityMap}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.north_point" />
		</td>
		<td>
			{immoobject.northPoint}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.customer_center" />
		</td>
		<td>
			{immoobject.customerCenter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.featured" />
		</td>
		<td>
			{immoobject.featured}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.type_estate" />
		</td>
		<td>
			{immoobject.typeEstate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.type_of_use" />
		</td>
		<td>
			{immoobject.typeOfUse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.type_of_disposition" />
		</td>
		<td>
			{immoobject.typeOfDisposition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.type_building" />
		</td>
		<td>
			{immoobject.typeBuilding}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.geo_x" />
		</td>
		<td>
			{immoobject.geoX}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.geo_y" />
		</td>
		<td>
			{immoobject.geoY}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.required_wbs" />
		</td>
		<td>
			{immoobject.requiredWbs}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.is_ground_floor" />
		</td>
		<td>
			{immoobject.isGroundFloor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.title" />
		</td>
		<td>
			{immoobject.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.business_shares" />
		</td>
		<td>
			{immoobject.businessShares}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.notice" />
		</td>
		<td>
			{immoobject.notice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immoobject.action_offer" />
		</td>
		<td>
			{immoobject.actionOffer}
		</td>
	</tr>
</table>