{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{f:count(subject:pageMedia)} > 0">
    {pageMedia -> v:iterator.first() -> v:variable.set(name: 'pageMediaFirst')}
    <f:render section="{section}" arguments="{pageMediaFirst:pageMediaFirst}" />
</f:if>

<f:section name="reverseItemTeaser">
    <f:link.page pageUid="{pageMediaFirst.link}" class="teaser teaser-layout-2 font-bold" style="background-image: url('/{pageMediaFirst.url}');">
        <p class="headline"><f:format.raw>{pageMediaFirst.title}</f:format.raw></p>
        <p><f:format.html>{pageMediaFirst.description}</f:format.html>
            <span class="link font-small font-bold icon-carat-right"><f:format.raw>{pageMediaFirst.alternative}</f:format.raw></span>
        </p>
    </f:link.page>
</f:section>

<f:section name="normalItemTeaser">
    <f:link.page pageUid="{pageMediaFirst.link}" class="teaser teaser-layout-2 font-bold">
        <p class="headline"><f:format.raw>{pageMediaFirst.title}</f:format.raw></p>
        <p><f:format.html>{pageMediaFirst.description}</f:format.html>
            <span class="link font-small font-bold icon-carat-right"><f:format.raw>{pageMediaFirst.alternative}</f:format.raw></span>
        </p>
        <img src="/{pageMediaFirst.url}" />
    </f:link.page>
</f:section>


<f:section name="imageOnly">
    <img src="/{pageMediaFirst.url}" />
</f:section>