{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxContentHowoge\ViewHelpers}

<v:page.menu pageUid="{firstLevelItem.uid}" doktypes="DEFAULT,SHORTCUT,SPACER" as="subMenuItems">
    {mbx:arrayMap(array:subMenuItems) -> v:variable.set(name: 'mappedSubMenuItems')}
    <f:for each="{mappedSubMenuItems}" as="chunkedSubMenuItems" iteration="it">
        <ul class="nav span">
            <f:for each="{chunkedSubMenuItems}" as="subMenuItem">
                <f:switch expression="{subMenuItem.doktype}">
                    <f:case value="199">
                        <li class="column-header">
                            <div>{subMenuItem.title}<hr></div>
                        </li>
                        <li class="menu-image">
                            <f:if condition="{it.isFirst}">
                                <f:then>
                                    <f:comment><!-- Get first fal resources url --></f:comment>
                                    <img src="{pageMedia.0.url}" />
                                </f:then>
                                <f:else>
                                    <f:comment><!-- Get second fal resources url --></f:comment>
                                    <img src="{pageMedia.1.url}" />
                                </f:else>
                            </f:if>
                        </li>
                    </f:case>
                    <f:case value="1">
                        <li class="menu-item">
                            <a href="{subMenuItem.link}" title="{f:if(condition:subMenuItem.nav_title, then:subMenuItem.nav_title, else:subMenuItem.title)}">
                                {f:if(condition:subMenuItem.nav_title, then:subMenuItem.nav_title, else:subMenuItem.title)}
                            </a>
                        </li>
                    </f:case>
                    <f:case value="4">
                        <li class="menu-item">
                            <a href="{subMenuItem.link}" title="{f:if(condition:subMenuItem.nav_title, then:subMenuItem.nav_title, else:subMenuItem.title)}">
                                {f:if(condition:subMenuItem.nav_title, then:subMenuItem.nav_title, else:subMenuItem.title)}
                            </a>
                        </li>
                    </f:case>
                </f:switch>
            </f:for>
        </ul>
    </f:for>
</v:page.menu>