{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{f:count(subject:pageMedia)} > 0">
    <f:render section="{section}" arguments="{_all}" />
</f:if>

<f:section name="reverseItemTeaser">
    <f:link.page pageUid="{pageMedia.0.link}" class="teaser teaser-layout-2 font-bold" style="background-image: url('/{pageMedia.0.url}');">
        <p class="headline"><f:format.raw>{pageMedia.0.title}</f:format.raw></p>
        <p><f:format.html>{pageMedia.0.description}</f:format.html>
            <span class="link font-small font-bold icon-carat-right"><f:format.raw>{pageMedia.0.alternative}</f:format.raw></span>
        </p>
    </f:link.page>
</f:section>