{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxContentHowoge\ViewHelpers}

<v:page.menu pageUid="{firstLevelItem.uid}" doktypes="DEFAULT,SHORTCUT,SPACER" as="subMenuItems">
    <f:comment><!-- Retrieve sub menu items from divider to divider to build list elements --></f:comment>
    {mbx:arrayMap(array:subMenuItems) -> v:variable.set(name: 'mappedSubMenuItems')}
    <f:comment><!-- Retrieve which iterator page is a divider and use it's title --></f:comment>
    {v:iterator.filter(subject: mappedSubMenuItems.0, filter:'199', propertyName: 'doktype') -> v:variable.set(name: 'columnHeaderItem')}
    <div class="column-header">
        <div><f:format.raw>{columnHeaderItem.0.title}</f:format.raw><hr></div>
    </div>
    <f:for each="{mappedSubMenuItems}" as="chunkedSubMenuItems" iteration="it">
        <ul class="nav span">
            <f:for each="{chunkedSubMenuItems}" as="subMenuItem">
                <f:comment><!-- render DOKTYPE_DEFAULT & DOKTYPE_SHORTCUT only. DOKTYPE_SPACER is extracted below for label issues --></f:comment>
                <v:if stack="{0:subMenuItem.doktype,1:'==',2:1, 3: 'OR', 4:subMenuItem.doktype,5:'==',6:4}">
                    <li class="menu-item">
                        <a href="{subMenuItem.link}" title="{subMenuItem.subTitle}">
                            {f:if(condition:subMenuItem.nav_title, then:subMenuItem.nav_title, else:subMenuItem.title)}
                        </a>
                        <f:if condition="{subMenuItem.hasSubPages}">
                            <f:render partial="Navigation/Main/FlyOut/ThirdLevel" arguments="{subMenuItem:subMenuItem}" />
                        </f:if>
                    </li>
                </v:if>
            </f:for>
        </ul>
    </f:for>
</v:page.menu>