{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.menu pageUid="{subMenuItem.uid}" as="thirdLevelItems">
    <div class="submenu-third-level">
        <f:comment><!-- Chunk items to build two columns (max 10 items per column) --></f:comment>
        <f:for each="{thirdLevelItems -> v:iterator.chunk(count: 10)}" as="chunkedItems" iteration="cycle">
            <ul class="submenu">
                <f:for each="{chunkedItems}" as="chunkedItem">
                    <li class="menu-item">
                        <a href="{chunkedItem.link}" title="{f:if(condition:chunkedItem.nav_title, then:chunkedItem.nav_title, else:chunkedItem.title)}">
                            {f:if(condition:chunkedItem.nav_title, then:chunkedItem.nav_title, else:chunkedItem.title)}
                        </a>
                    </li>
                </f:for>
            </ul>
        </f:for>
    </div>
</v:page.menu>