{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">

Angebot #{itemIterator.cycle}
<mbxrevh:immoaddress.assign immoobject="{immoobject}" immoaddressRepository="{immoaddressRepository}">
{immoaddress.street}, {immoaddress.zip} {immoaddress.city}

Warmmiete: {immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}

Größe: {immoobject.areaGeneral} qm2

Zimmer: {immoobject.rooms}

</mbxrevh:immoaddress.assign>

Zum Angebot: {mbxrevh:immoobject.getShowUrl(immoobject : immoobject)}

---
</f:for>
