{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<div>
    <f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">

        <div>
            <h3>Angebot #{itemIterator.cycle}</h3>
            <mbxrevh:immoaddress.assign immoobject="{immoobject}" immoaddressRepository="{immoaddressRepository}">
                <h4>
                    <strong>{immoaddress.street},</strong>
                    <span>{immoaddress.zip} {immoaddress.city}</span>
                </h4>
                <div>
                    <ul>
                        <li>
                            <p><strong>Warmmiete:</strong> {immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                        </li>
                        <li>
                            <p><strong>Größe:</strong> {immoobject.areaGeneral} qm<sup>2</sup></p>
                        </li>
                        <li>
                            <p><strong>Zimmer:</strong> {immoobject.rooms}</p>
                        </li>
                    </ul>
                </div>
            </mbxrevh:immoaddress.assign>
            <div>
                <strong>Ausstattung:</strong>

                <ul><f:for each="{immoobject.immofeature}" as="immofeature">
                        <li>{immofeature.featureTitle}</li>
                    </f:for>
                </ul>
            </div>
            <div><a href="{mbxrevh:immoobject.getShowUrl(immoobject : immoobject)}">Zum Angebot</a></div>
            <br />
            <br />
            <br />
        </div>

    </f:for>
</div>
