<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
###master_email-user-start-plain###

    Willkommen beim Suchagenten,

    sobald neue Einträge passend zu Ihren Suchkriterien verfügbar sind, informieren wir Sie umgehend per E-Mail. Alternativ können Sie 
    auch auf folgender Seite die zu Ihrer Suchanfrage passenden Immobilien anzeigen:
    
    [[searchagentJobView]]
    
    
    Besuchen Sie folgende URL um den Suchagenten abzubestellen:
    
    [[searchagentJobViewUnsubscribe]]

###master_email-user-end-plain###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_HTML### -->
    Willkommen beim Suchagenten,<br />
    <br />
    sobald neue Einträge passend zu Ihren Suchkriterien verfügbar sind, informieren wir Sie umgehend per E-Mail. Alternativ können Sie 
    auch auf folgender <a href="[[searchagentJobView]]">Seite</a> die zu Ihrer Suchanfrage passenden Immobilien anzeigen.<br />
    <br />
    <br />
    <p>Ihre Suchanfrage:</p>
    <br />
    [[searchRequestHml]]
    <br />
    <p>Detailierte Informationen zu Ihrer Suchanfrage erhalten sie <a href="[[searchagentJobView]]">hier</a></p>
    <br />
    Klicken Sie <a href="[[searchagentJobViewUnsubscribe]]">hier</a> um den Suchagenten abzubestellen.
<!-- ###TEMPLATE_EMAIL_USER_HTML### -->