Sehr geehrte(r) Interessent(in),<br />
<br />
es sind {immocount} neue Ergebnisse für Ihren Suchauftrag vorhanden.<br />
<br />
Schauen Sie <a href="{searchagentJobView}">hier</a> um Ihre Ergebnisse zu sehen.<br />
<br />
<br />
Möchten Sie keine weiteren Benachrichtigungen erhalten, können Sie den Dienst <a href="{searchagentJobUnsubscribe}">hier</a> abbestellen.
