{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<mbxrevh:search.hasDistricts immoSearchItem="{isi}">
    <strong>Stadtteile:</strong><br />
    <f:for each='{search.districts}' as='districtId'>
        - <mbxrevh:search.format.district id="{districtId}" /><br />
    </f:for>
    <br />
</mbxrevh:search.hasDistricts>

<mbxrevh:search.format.range immoSearchItem="{isi}" configuration="{ label : 'Größe:', key : 'area', unit : 'qm' }" as='area'>
    <f:if condition='{area}'><f:format.raw>{area}</f:format.raw><br/></f:if>
</mbxrevh:search.format.range>

<mbxrevh:search.format.range immoSearchItem="{isi}" configuration="{ label : 'Warmmiete:', key : 'cost_gross', unit : '€' }" as='cost_gross'>
    <f:if condition='{cost_gross}'><f:format.raw>{cost_gross}</f:format.raw><br/></f:if>
</mbxrevh:search.format.range>

<mbxrevh:search.format.range immoSearchItem="{isi}" configuration="{ label : 'Kaufpreis:', key : 'cost_buy', unit : '€' }" as='cost_buy'>
    <f:if condition='{cost_buy}'><f:format.raw>{cost_buy}</f:format.raw><br/></f:if>
</mbxrevh:search.format.range>

<mbxrevh:search.format.range immoSearchItem="{isi}" configuration="{ label : 'Zimmer:', key : 'rooms' }" as='rooms'>
    <f:if condition='{rooms}'><f:format.raw>{rooms}</f:format.raw><br/></f:if>
</mbxrevh:search.format.range>
<br />
