<f:layout name="Default" />

<f:section name="main">
    
<div id="searchagent-form-wrapper" class="clearfix">
    <f:if condition="{display} == 'register'">
        <f:then>
            <f:form method="post">    
                <p class="search-agent-description"><f:translate key="searchagent.subscribe.description"/></p>
                <f:cObject typoscriptObjectPath="lib.searchagentRegisterForm" />            
            </f:form>
        </f:then>
        <f:else>
            
            <f:if condition="{success} == 1">
                <f:then>
                    <div class="statusbox ok"><f:translate key="searchagent.unsubscribe.success"/></div>
                </f:then>
                <f:else>
                    <p class="search-agent-description unsubscribe"><f:translate key="searchagent.unsubscribe.description"/></p>
                    <a href="/{unsubscribe_url}" class="btn red"><f:translate key="searchagent.unsubscribe.submit"/></a>                    
                </f:else>
            </f:if>
            
        </f:else>
    </f:if>
</div>

</f:section>