{namespace n=GeorgRinger\News\ViewHelpers}

<table class="calendar">
		<tr class="title">
			<th colspan="7">
				<f:if condition="{settings.hidePagination} == 0">
					<f:if condition="{navigation.numberOfMonths} == 1">
						<f:render partial="Newscal/Navigation"
						          arguments="{navigation:navigation}"></f:render>
					</f:if>
				</f:if>
				<div><f:translate id="month.<f:format.printf arguments='{0: month.month}'>%02d</f:format.printf>" extensionName="news"></f:translate> {month.year}</div>
			</th>
		</tr>
		<tr class="days">
			<f:for each="{month.weeks.0}" as="day">
				<th>
					<f:translate id="day.{f:format.date(date: day.ts, format: 'N')}.abbr" extensionName="mbx_news_howoge"></f:translate>
				</th>
			</f:for>
		</tr>
		<f:for each="{month.weeks}" as="week">
			<tr>
				<f:for each="{week}" as="day">
					<f:render section="calday" arguments="{day:day, settings:settings}"></f:render>
				</f:for>
			</tr>
		</f:for>
</table>

<f:section name="calday">
	<td class="day{f:format.date(date: day.ts, format: 'N')} {f:if(condition: '{day.curmonth}', then: 'curmonth', else: 'othermonth')}{f:if(condition: '{day.news}', then: ' hasevents')}{f:if(condition: '{day.curday}', then: ' today')}{f:if(condition:'{day.startev}', then: ' startev')}{f:if(condition:'{day.endev}', then: ' endev')}">
		<f:if condition="{day.news}"><f:then>
			<f:render section="dayevents" arguments="{day:day, settings:settings}"></f:render>
		</f:then>
		<f:else>
			<div class="day">{day.day}</div>
		</f:else>
		</f:if>
	</td>
</f:section>

<f:section name="dayevents">
	<div class="day">{day.day}
		<ul id="d{day.day}" class="events">
			<f:for each="{day.news}" as="newsItem">
				<li>
					<span class="event-date">{f:format.date(date:newsItem.eventStartDate, format:'d.m.Y')}</span>
					<span class="event-title">{newsItem.title}</span>
					<span class="event-location">{newsItem.eventLocation}</span>
					<n:link newsItem="{newsItem}" settings="{settings}">Mehr erfahren</n:link>
				</li>
			</f:for>
		</ul>
	</div>
</f:section>

<f:section name="fdayevents">
	<f:comment>
		If you are using Zurb Foundation, you can use this instead of 'dayevents' 
		in 'calday' section, to render the events of each day using dropdowns.
	</f:comment>
	<a data-dropdown="d{day.day}" data-options="align:right;is_hover:true" aria-controls="d{day.day}" aria-expanded="false">{day.day}</a>
	<ul id="d{day.day}" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
		<f:for each="{day.news}" as="newsItem">
			<li><n:link newsItem="{newsItem}" settings="{settings}">
				{newsItem.title}
			</n:link></li>
		</f:for>
	</ul>
</f:section>