{namespace n=GeorgRinger\News\ViewHelpers}

<f:if condition="{navigation.prev}">
	<f:render section="navlink" arguments="{text: '◀', month: navigation.prev.month, year: navigation.prev.year, uid: navigation.uid, class:'left'}"></f:render>
</f:if>
<f:if condition="{navigation.next}">
	<f:render section="navlink" arguments="{text: '▶', month: navigation.next.month, year: navigation.next.year, uid: navigation.uid, class:'right'}"></f:render>
</f:if>


<f:section name="navlink">
	<f:link.action arguments="{overwriteDemand:{year: year, month: month}}"
	               title="{f:translate(id: 'month.{month}', extensionName: 'news')} {year}"
	               class="navigation {class}">
		{text}
	</f:link.action>
</f:section>