{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:form method="get"  pageUid="{settings.search.listPage}" id="re-searchform-default" class="re-searchform-default">

    <label for="re-search-types_of_disposition"><f:translate key="immoobject.general.disposition"/></label>
    <f:form.select name="immosearch[types_of_disposition]" options="{types_of_disposition}" value="{predefined.types_of_disposition}" id="re-search-types_of_disposition" />

    <div class="options-group">
        <label for="re-search-rooms_from"><f:translate key="immoobject.general.rooms_from"/></label>
        <f:form.textfield name="immosearch[rooms_from]" value="{predefined.rooms_from}" maxlength="2" id="re-search-rooms_from" />
        <label for="re-search-rooms_to"><f:translate key="immoobject.general.rooms_to"/></label>
        <f:form.textfield name="immosearch[rooms_to]" value="{predefined.rooms_to}" maxlength="2" id="re-search-rooms_to" />
    </div>

    <div class="options-group">
        <label for="re-search-area_from"><f:translate key="immoobject.general.area_from"/></label>
        <f:form.textfield name="immosearch[area_from]" value="{predefined.area_from}" maxlength="4" id="re-search-area_from" />
        <label for="re-search-area_to"><f:translate key="immoobject.general.area_to"/></label>
        <f:form.textfield name="immosearch[area_to]" value="{predefined.area_to}" maxlength="4" id="re-search-area_to" />
    </div>


    <div class="options-group">
        <label for="re-search-cost_gross_from"><f:translate key="immoobject.general.cost_gross_from"/></label>
        <f:form.textfield name="immosearch[cost_gross_from]" value="{predefined.cost_gross_from}" maxlength="7" id="re-search-cost_gross_from" />
        <label for="re-search-cost_gross_to"><f:translate key="immoobject.general.cost_gross_to"/></label>
        <f:form.textfield name="immosearch[cost_gross_to]" value="{predefined.cost_gross_to}" maxlength="7" id="re-search-cost_gross_to" />
    </div>


    <div class="options-group">
        <label for="re-search-districts"><f:translate key="immoobject.general.district"/></label>
        <ul>
            <f:for each="{districts}" as="district_title" key="district_key">
                <li>
                    <f:form.checkbox name="immosearch[districts][]" value="{district_key}" id="re-search-district-{district_key}" checked="{v:condition.iterator.contains(haystack : predefined.districts, needle : district_key, then : 1)}" />
                    <label for="re-search-district-{district_key}">{district_title}</label>
                </li>
            </f:for>
        </ul>
    </div>

    <div class="options-group">
        <label for="re-search-features"><f:translate key="immoobject.general.features"/></label>
        <ul>
            <f:for each="{features}" as="feature">
                <li>
                    <f:form.checkbox name="immosearch[features][]" value="{feature.featureType}" id="re-search-feature-{feature.featureType}" checked="{v:condition.iterator.contains(haystack : predefined.features, needle : feature.featureType, then : 1)}" />
                    <label for="re-search-feature-{feature.featureType}">{feature.featureType}</label>
                </li>
            </f:for>
    </ul>
    </div>

    <f:form.textfield name="search_realestate" value="Suchen" type="submit" />

</f:form>
