{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{districts}">
    <ul class="nav">
        <f:for each="{districts}" as="districtName" key="districtId">
            <v:variable.set name="districtName" value="{f:if(condition: '{districtId} == 99', then: 'Berlin - {districtName}', else: 'Berlin-{districtName}')}" />
            <li>
                <f:link.action pageUid="{settings.search.listPage}"
                               arguments="{immosearch: {districts: {0: districtId}}, search_realestate: 1}"
                               title="Wohnungen finden in {districtName}">{districtName}</f:link.action>
            </li>
        </f:for>
    </ul>
</f:if>
