{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="flyout-search clearfix">
    <f:comment>Keeping this container for adding a margin-top to it.</f:comment>
</div>

<div class="tab-content">
    <f:form method="post" actionUri="{f:uri.page(pageUid: settings.search.listPage)}" class="tab-pane active flyout-search clearfix" id="{settings.idPrefix}apartments">
        <div class="from-to-selection clearfix">
            <label for="{settings.idPrefix}re-search-rooms_from" class="darkblue">{f:translate(key: '{settings.languageFile}:searchform.label.rooms_from')}</label>
            <div class="mbx-dropdown-auto absolute-dropdown">
                <f:form.select name="immosearch[rooms_from]" value="{predefined.rooms_from}" id="{settings.idPrefix}re-search-rooms_from" options="{1:'1+',2:'2+',3:'3+',4:'4+',5:'5+'}" />
            </div>
        </div>

        <div class="from-to-selection clearfix">
            <label for="{settings.idPrefix}re-search-area_from" class="darkblue">{f:translate(key: '{settings.languageFile}:searchform.label.area_from')}</label>
            <span class="inset-unit" data-unit="m&sup2;">
                <f:form.textfield name="immosearch[area_from]" value="{predefined.area_from}" maxlength="4" id="{settings.idPrefix}re-search-area_from"/>
            </span>
        </div>

        <div class="from-to-selection clearfix">
            <label for="{settings.idPrefix}re-search-cost_gross_to" class="darkblue">{f:translate(key: '{settings.languageFile}:searchform.label.cost_gross_to')}</label>
            <span class="inset-unit" data-unit="&euro;">
                <f:form.textfield name="immosearch[cost_gross_to]" value="{predefined.cost_gross_to}" maxlength="7" id="{settings.idPrefix}re-search-cost_gross_to" />
            </span>
        </div>

        <f:link.page pageUid="{settings.search.listPage}" class="advanced-search-link">
            <f:translate key="{settings.languageFile}:searchform.link.advancedSearch" />
        </f:link.page>
        <span class="submit-button-holder">
            <f:form.textfield name="search_realestate" value="{f:translate(key: '{settings.languageFile}:searchform.submit.searchApartment')}" type="submit" />
        </span>
    </f:form>

</div>
