{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:form method="get" pageUid="{settings.search.listPage}">
    <ul>
        <f:for each="{districts}" as="district_title" key="district_key">
            <li>
                <f:form.checkbox name="immosearch[districts][]" value="{district_key}" id="re-search-district-{district_key}" checked="{v:condition.iterator.contains(haystack : predefined.districts, needle : district_key, then : 1)}" />
                <label for="re-search-district-{district_key}">{district_title}</label>
            </li>
        </f:for>
    </ul>

    <ul>
        <f:for each="{offers}" as="offer_title" key="offer_key">
            <li>
                <f:form.checkbox name="immosearch[offers][]" value="{offer_key}" id="re-search-offer-{offer_key}" checked="{v:condition.iterator.contains(haystack : predefined.offers, needle : offer_key, then : 1)}" />
                <label for="re-search-offer-{offer_key}">{offer_title}</label>
            </li>
        </f:for>
    </ul>

    <label for="re-search-types_of_use">Nutzungsart</label>
    <f:form.select name="immosearch[types_of_use]" options="{types_of_use}" value="{predefined.types_of_use}" id="re-search-types_of_use" />

    <label for="re-search-types_of_disposition">Kaufart</label>
    <f:form.select name="immosearch[types_of_disposition]" options="{types_of_disposition}" value="{predefined.types_of_disposition}" id="re-search-types_of_disposition" />

    <label for="re-search-area_from">Größe von</label>
    <f:form.textfield name="immosearch[area_from]" value="{predefined.area_from}" maxlength="4" id="re-search-area_from" />
    <label for="re-search-area_to">Größe bis</label>
    <f:form.textfield name="immosearch[area_to]" value="{predefined.area_to}" maxlength="4" id="re-search-area_to" />

    <label for="re-search-rooms_from">Räume von</label>
    <f:form.textfield name="immosearch[rooms_from]" value="{predefined.rooms_from}" maxlength="2" id="re-search-rooms_from" />
    <label for="re-search-rooms_to">Räume bis</label>
    <f:form.textfield name="immosearch[rooms_to]" value="{predefined.rooms_to}" maxlength="2" id="re-search-rooms_to" />

    <label for="re-search-cost_gross_from">Gesamtmiete von</label>
    <f:form.textfield name="immosearch[cost_gross_from]" value="{predefined.cost_gross_from}" maxlength="7" id="re-search-cost_gross_from" />
    <label for="re-search-cost_gross_to">Gesamtmiete bis</label>
    <f:form.textfield name="immosearch[cost_gross_to]" value="{predefined.cost_gross_to}" maxlength="7" id="re-search-cost_gross_to" />

    <label for="re-search-floors_from">Etage von</label>
    <f:form.textfield name="immosearch[floors_from]" value="{predefined.floors_from}" maxlength="2" id="re-search-floors_from" />
    <label for="re-search-floors_to">Etage bis</label>
    <f:form.textfield name="immosearch[floors_to]" value="{predefined.floors_to}" maxlength="2" id="re-search-floors_to" />

    <label for="re-search-street">Straßenname</label>
    <f:form.textfield name="immosearch[street]" value="{predefined.street}" maxlength="50" id="re-search-street" />


    <ul>
        <f:for each="{features}" as="feature">
            <li>
                <f:form.checkbox name="immosearch[features][]" value="{feature.featureType}" id="re-search-feature-{feature.featureType}" checked="{v:condition.iterator.contains(haystack : predefined.features, needle : feature.featureType, then : 1)}" />
                <label for="re-search-feature-{feature.featureType}">{feature.featureType}</label>
            </li>
        </f:for>
    </ul>

    <f:form.textfield name="search_realestate" value="Suchen" type="submit" />

</f:form>
