<table class="tx-mbx-realestate" >
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_name" />
		</td>
		<td>
			{immocontact.contactName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_street" />
		</td>
		<td>
			{immocontact.contactStreet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_streetnr" />
		</td>
		<td>
			{immocontact.contactStreetnr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_zip" />
		</td>
		<td>
			{immocontact.contactZip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_city" />
		</td>
		<td>
			{immocontact.contactCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_company" />
		</td>
		<td>
			{immocontact.contactCompany}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_phone" />
		</td>
		<td>
			{immocontact.contactPhone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_fax" />
		</td>
		<td>
			{immocontact.contactFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_mail" />
		</td>
		<td>
			{immocontact.contactMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_mobile" />
		</td>
		<td>
			{immocontact.contactMobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_url" />
		</td>
		<td>
			{immocontact.contactUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mbxrealestate_domain_model_immocontact.contact_type" />
		</td>
		<td>
			{immocontact.contactType}
		</td>
	</tr>
</table>