{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="allEntriesLangKey" value="{f:if(condition: '{settings.startingpoint} == {settings.eventStorage}', then: 'all-events', else: 'all-entries')}" />

<div id="c{contentObjectUid}" class="list-dropdown mbx-dropdown-wrapper absolute-dropdown pull-left">
    <div class="label darkblue font-small font-semibold"><f:translate key="{settings.languageFile}:archive" />:</div>
    <div id="archive-select" class="mbx-dropdown">
        <div class="mbx-dropdown-label icon-dropdown">
            {f:if(condition: overwriteDemand.year, then: overwriteDemand.year, else: '{f:translate(key: \'{settings.languageFile}:{allEntriesLangKey}\')}')}
        </div>
        <div class="mbx-dropdown-list">
            <ul>
                <li{f:if(condition: overwriteDemand.year, else: ' class="selected"')}>
                <f:link.page section="c{contentObjectUid}" additionalParams="{tx_news_pi1: {overwriteDemand: {categories: overwriteDemand.categories}}}">
                    <f:translate key="{settings.languageFile}:{allEntriesLangKey}" />
                </f:link.page>
                </li>
                <f:for each="{data.total}" key="year" as="count">
                    <li{f:if(condition: '{year} == {overwriteDemand.year}', then: ' class="selected"')}>
                    <f:if condition="{archiveRestriction}">
                        <f:then>
                            <f:link.page section="c{contentObjectUid}" additionalParams="{tx_news_pi1: {overwriteDemand: {year: year, archiveRestriction: '', categories: overwriteDemand.categories}}}">{year}</f:link.page>
                        </f:then>
                        <f:else>
                            <f:link.page section="c{contentObjectUid}" additionalParams="{tx_news_pi1: {overwriteDemand: {year: year, categories: overwriteDemand.categories}}}">{year}</f:link.page>
                        </f:else>
                    </f:if>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</div>
