{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}
<n:excludeDisplayedNews newsItem="{eventItem}" />

<v:variable.set name="eventCategory" value="{mbx:firstCategory(categories: eventItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
<v:variable.set name="startDate" value="{eventItem.eventStartDatetime -> f:format.date(format: 'Ymd')}" />
<v:variable.set name="startTime" value="{eventItem.eventStartDatetime -> f:format.date(format: 'Hi')}" />
<v:variable.set name="endDate" value="{eventItem.eventEndDatetime -> f:format.date(format: 'Ymd')}" />
<v:variable.set name="endTime" value="{eventItem.eventEndDatetime -> f:format.date(format: 'Hi')}" />
<v:variable.set name="dateFormat" value="{f:translate(key: '{settings.languageFile}:dateFormat')}" />
<v:variable.set name="timeFormat" value="H:i" />
{mbx:hasCategory(newsItem: eventItem, categoryId: settings.event.howogeEventCategoryId) -> v:variable.set(name: 'isHowogeEvent')}
{mbx:hasCategory(newsItem: eventItem, categoryId: settings.event.buildingProjectCategoryId) -> v:variable.set(name: 'isBuildingProject')}

<f:if condition="{eventItem.falMedia}">
	<f:comment><!-- fal media preview element --></f:comment>
	<f:then>
		<f:if condition="{eventItem.firstFalImagePreview}">
			<f:then>
				<f:comment><!-- use special preview image --></f:comment>
				<v:variable.set name="mediaElement" value="{eventItem.firstFalImagePreview}" />
			</f:then>
			<f:else>
				<f:comment><!-- use default news image --></f:comment>
				<v:variable.set name="mediaElement" value="{eventItem.firstFalNonImagePreview}" />
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{eventItem.firstFalRelatedFileImagePreview}">
			<f:comment><!-- fal relatedfiles preview element --></f:comment>
			<v:variable.set name="mediaElement" value="{eventItem.firstFalRelatedFileImagePreview}" />
		</f:if>
	</f:else>
</f:if>

<f:switch expression="{eventItem.eventTileSize}">
	<f:case value="0">
		<v:variable.set name="gridClass" value="grid-item"/>
		<v:variable.set name="background-size" value="306px 228px"/>
	</f:case>
	<f:case value="1">
		<v:variable.set name="gridClass" value="grid-item grid-item--width2"/>
		<v:variable.set name="background-size" value="622px 228px"/>
	</f:case>
	<f:case value="2">
		<v:variable.set name="gridClass" value="grid-item grid-item--height2"/>
		<v:variable.set name="background-size" value="306px 468px"/>
	</f:case>
	<f:case value="3">
		<v:variable.set name="gridClass" value="grid-item grid-item--width2height2"/>
		<v:variable.set name="background-size" value="622px 468px"/>
	</f:case>
	<f:case default="TRUE">
		<v:variable.set name="gridClass" value="grid-item"/>
		<v:variable.set name="background-size" value="306px 228px"/>
	</f:case>
</f:switch>

<v:variable.set name="imagePath" value="{f:uri.image(src:eventItem.eventTileImage.uid, treatIdAsReference:1)}" />
<f:if condition="{eventItem.overrideLink}">
	<f:then>
		<f:render section="OverrideLink" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:render section="RegularLink" arguments="{_all}" />
	</f:else>
</f:if>

<f:section name="RegularLink">
	<a href="{n:link(newsItem: eventItem, settings: settings, uriOnly: 'true')}" title="{f:if(condition: eventItem.linkText, then: eventItem.linkText, else: 'Mehr Informationen')}" class="{gridClass}" style='display:block;background:url("{imagePath}");background-repeat:no-repeat;background-position:center;background-size:{background-size}; '> 
		<div class="contentwrap event-masonry-item-regular">
			<f:if condition="{isHowogeEvent}">
				<div class="top">
					<div class="badge-howoge-event">HOWOGE Events</div> 
				</div>
			</f:if>
			<f:if condition="{isBuildingProject}">
				<div class="top">
					<div class="badge-building-project">Tag der offenen Baustelle</div> 
				</div>
			</f:if>
			<div class="box-shadow">
				<div class="content">
					<p class="title">
						<f:format.crop maxCharacters="55">{eventItem.title}</f:format.crop>
					</p> 
					<span class="meta"> 
                        {eventItem.eventStartDatetime -> f:format.date(format: dateFormat)} {f:if(condition: '{endDate} > {startDate}', then: ' - {eventItem.eventEndDatetime -> f:format.date(format: dateFormat)}')} 
                    </span>
				</div>
			</div>
		</div>
	</a>
</f:section>

<f:section name="OverrideLink">
	<f:link.page pageUid="{eventItem.overrideLink}" title="{f:if(condition: eventItem.linkText, then: eventItem.linkText, else: 'Mehr Informationen')}" class="{gridClass}" style='display:block;background:url("{imagePath}");background-repeat:no-repeat;background-position:center;background-size:{background-size}; '> 
		<div class="contentwrap event-masonry-item-override">
			<f:if condition="{isHowogeEvent}">
				<div class="top">
					<div class="badge-howoge-event">HOWOGE Events</div> 
				</div>
			</f:if>
			<f:if condition="{isBuildingProject}">
				<div class="top">
					<div class="badge-building-project">Tag der offenen Baustelle</div> 
				</div>
			</f:if>
			<div class="box-shadow">
				<div class="content">
					<p class="title">
						<f:render partial="Detail/NewsTitle" arguments="{data: eventItem.title}" />
					</p> 
					<span class="meta"> 
                        {eventItem.eventStartDatetime -> f:format.date(format: dateFormat)}{f:if(condition: '{endDate} > {startDate}', then: ' - {eventItem.eventEndDatetime -> f:format.date(format: dateFormat)}')} 
                    </span>
				</div>
			</div>
		</div>
	</f:link.page>
</f:section>