{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<v:variable.set name="dateFormat" value="{f:translate(key: '{settings.languageFile}:dateFormat')}" />

<v:asset.script path="fileadmin/default/js/lib/zabuto_calendar.min.js" name="zabutoCalJs"></v:asset.script>
<v:asset.style path="fileadmin/default/css/lib/zabuto_calendar.min.css"
               name="zabutoCalCss"></v:asset.style>



<script type="application/javascript">
    var eventsForCalendar = [];
</script>
<f:for each="{events}" as="eventItem" iteration="iteration">

    <f:if condition="{eventItem.falMedia}">
        <f:then>
            <f:if condition="{eventItem.firstFalImagePreview}">
                <f:then>
                    <v:variable.set name="mediaElement" value="{eventItem.firstFalImagePreview}" />
                </f:then>
                <f:else>
                    <v:variable.set name="mediaElement" value="{eventItem.firstFalNonImagePreview}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{eventItem.firstFalRelatedFileImagePreview}">
                <v:variable.set name="mediaElement" value="{eventItem.firstFalRelatedFileImagePreview}" />
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{mediaElement}">
        <f:then>
            <v:variable.set name="imagePath" value="{f:uri.image(src:mediaElement.uid, treatIdAsReference:1)}" />
        </f:then>
        <f:else>
            <v:variable.set name="imagePath" value="" />
        </f:else>
    </f:if>
    <f:if condition="{eventItem.eventStartDatetime}">
        <script type="application/javascript">
            var eTitle = "{eventItem.title}";
            var eLink = "{n:link(newsItem: eventItem, settings: settings, uriOnly: 'true')}";
            var eImagePath = "{imagePath}";
            var eDate = "{eventItem.eventStartDatetime -> f:format.date(format: 'Y-m-d')}";
            var eOverRideLink = '<f:uri.page pageUid="{eventItem.overrideLink}" />';

            var event = {title: eTitle, link: eLink, oLink:eOverRideLink ,imagePath: eImagePath, date: eDate, badge: true}
            eventsForCalendar.push(event);
        </script>
    </f:if>
</f:for>


<div id="my-calendar"></div>

