{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<div class="baut-upcoming-events upcoming-event blue-container first clearfix">    

    <div class="iconfont-news baut-event-title icon"></div>
    <div class="baut-event-title">EVENTS</div>
    <f:for each="{events}" as="eventItem" iteration="iterator">
        <a href="{n:link(newsItem: eventItem, settings: settings, uriOnly: 'true')}" title="Mehr Informationen" class="upcoming-event blue-container first">
            <div class="calendar">
                <span class="day">{eventItem.eventStartDatetime -> f:format.date(format: 'd.')}</span>
                <span class="month">{eventItem.eventStartDatetime -> f:format.date(format: '%b')}</span>
            </div>
            <span class="baut-headline">
                <f:format.crop maxCharacters="40" append="..."><f:render partial="Detail/NewsTitle" arguments="{data: '{f:if(condition: eventItem.teaserTitle, then: eventItem.teaserTitle, else: eventItem.title)}'}" /></f:format.crop>
            </span>
        </a>
        <f:if condition="{iterator.isLast} != 'FALSE'">
            <div class="baut-hr"></div>
        </f:if>
    </f:for>
    <f:link.page pageUid="{settings.listPid}" class="baut-upcoming-showall">
        <f:translate key="{settings.languageFile}:linkToEvents" />
    </f:link.page>
</div>