{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}
<n:excludeDisplayedNews newsItem="{eventItem}" />

<v:variable.set name="eventCategory" value="{mbx:firstCategory(categories: eventItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
<v:variable.set name="startDate" value="{eventItem.eventStartDatetime -> f:format.date(format: 'Ymd')}" />
<v:variable.set name="startTime" value="{eventItem.eventStartDatetime -> f:format.date(format: 'Hi')}" />
<v:variable.set name="endDate" value="{eventItem.eventEndDatetime -> f:format.date(format: 'Ymd')}" />
<v:variable.set name="endTime" value="{eventItem.eventEndDatetime -> f:format.date(format: 'Hi')}" />
<v:variable.set name="dateFormat" value="{f:translate(key: '{settings.languageFile}:dateFormat')}" />
<v:variable.set name="timeFormat" value="H:i" />
{mbx:hasCategory(newsItem: eventItem, categoryId: settings.event.howogeEventCategoryId) -> v:variable.set(name: 'isHowogeEvent')}
{mbx:hasCategory(newsItem: eventItem, categoryId: settings.event.buildingProjectCategoryId) -> v:variable.set(name: 'isBuildingProject')}

<div class="article event-item white-container spacer-medium clearfix {f:if(condition: isHowogeEvent, then: ' howoge-event', else: '' )} {f:if(condition: isBuildingProject, then: ' building-project', else: '' )}">
	<f:render partial="List/ImagePreview" arguments="{newsItem: eventItem, image: settings.list.media.image}" />

	<div class="article-content pull-right">
        <span class="meta cyan font-bold">
            {eventItem.eventStartDatetime -> f:format.date(format: dateFormat)}{f:if(condition: '{endDate} > {startDate}', then: ' - {eventItem.eventEndDatetime -> f:format.date(format: dateFormat)}')}
            <f:if condition="{eventItem.eventIsFulltime}">
				<f:else>
					<f:comment><!-- show time event --></f:comment>
					<span class="font-regular">{eventItem.eventStartDatetime -> f:format.date(format: timeFormat)}{f:if(condition: '{endTime} > {startTime}', then: ' - {eventItem.eventEndDatetime -> f:format.date(format: timeFormat)}')} Uhr</span>
				</f:else>
			</f:if>
        </span>

		<v:if stack="{0:settings.detailPid, 1:'OR', 2:eventCategory.singlePid}">
			<f:then>
				<f:if condition="{eventCategory.singlePid}">
					<v:variable.set name="settings.detailPidDetermination" value="categories" />
				</f:if>

				<a href="{n:link(newsItem: eventItem, settings: settings, uriOnly: 'true')}" title="{f:if(condition: eventItem.linkText, then: eventItem.linkText, else: 'Mehr Informationen')}" class="black">
					<p class="h3 darkblue"><f:render partial="Detail/NewsTitle" arguments="{data: eventItem.title}" /></p>
					<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{f:if(condition: eventItem.teaser, then: eventItem.teaser, else: eventItem.bodytext)}</f:format.crop></f:format.html>
				</a>
			</f:then>
			<f:else>
				<p class="h3 darkblue"><f:render partial="Detail/NewsTitle" arguments="{data: eventItem.title}" /></p>
				<f:format.html>{f:if(condition: eventItem.teaser, then: eventItem.teaser, else: eventItem.bodytext)}</f:format.html>
			</f:else>
		</v:if>

		<f:if condition="{eventItem.falRelatedFiles}">
			<hr />
			<ul class="article-downloads font-semibold clearfix">
				<f:for each="{eventItem.falRelatedFiles}" as="relatedFile">
					<f:render partial="Detail/FalRelatedFile" arguments="{relatedFile: relatedFile, height: settings.list.download.height, width: settings.list.download.width}" />
				</f:for>
			</ul>
		</f:if>
	</div>

	<f:if condition="{isHowogeEvent}">
		<div class="badge-howoge-event">HOWOGE Events</div>
	</f:if>
	<f:if condition="{isBuildingProject}">
		<div class="badge-building-project">Tag der offenen Baustelle</div> 
	</f:if>
</div>