{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<v:variable.set name="dateFormat" value="{f:translate(key: '{settings.languageFile}:dateFormat')}" />

<v:asset.script path="fileadmin/default/js/extensions/MasonryMap.js" name="masonryMaptJs"
                allowMoveToFooter="true"></v:asset.script>


<script type="application/javascript">
    var eventsForMap = [];
</script>

<f:for each="{events}" as="eventItem" iteration="iteration">

    <f:if condition="{eventItem.falMedia}">
        <f:then>
            <f:if condition="{eventItem.firstFalImagePreview}">
                <f:then>
                    <v:variable.set name="mediaElement" value="{eventItem.firstFalImagePreview}" />
                </f:then>
                <f:else>
                    <v:variable.set name="mediaElement" value="{eventItem.firstFalNonImagePreview}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{eventItem.firstFalRelatedFileImagePreview}">
                <v:variable.set name="mediaElement" value="{eventItem.firstFalRelatedFileImagePreview}" />
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{mediaElement}">
        <f:then>
            <v:variable.set name="imagePath" value="{f:uri.image(src:mediaElement.uid, treatIdAsReference:1)}" />
        </f:then>
        <f:else>
            <v:variable.set name="imagePath" value="" />
        </f:else>
    </f:if>

    <f:if condition="{eventItem.eventCoordinates}">
        <script type="application/javascript">
            var eTitle = "{eventItem.title}";
            var eLink = "{n:link(newsItem: eventItem, settings: settings, uriOnly: 'true')}";
            var eImagePath = "{imagePath}";
            var eCoordinates = "{eventItem.eventCoordinates}";
            var eDate = "{eventItem.eventStartDatetime -> f:format.date(format: dateFormat)}";

            var event = {title: eTitle, link: eLink, imagePath: eImagePath, latlng:eCoordinates, date: eDate}
            eventsForMap.push(event);
        </script>
    </f:if>
</f:for>

<div class="stamp" id="googleMap"></div>