{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="floatClass" value="{f:if(condition: floatClass, then: floatClass, else: 'pull-left')}" />
<v:variable.set name="heightClass" value="squareImage" />

<f:if condition="{newsItem.falMedia}">
    <f:comment><!-- fal media preview element --></f:comment>
    <f:then>
        <f:if condition="{newsItem.firstFalImagePreview}">
            <f:then>
                <f:comment><!-- use special preview image --></f:comment>
                <v:variable.set name="mediaElement" value="{newsItem.firstFalImagePreview}" />
            </f:then>
            <f:else>
                <f:comment><!-- use default news image --></f:comment>
                <v:variable.set name="mediaElement" value="{newsItem.firstFalNonImagePreview}" />
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{newsItem.firstFalRelatedFileImagePreview}">
            <f:comment><!-- fal relatedfiles preview element --></f:comment>
            <v:variable.set name="mediaElement" value="{newsItem.firstFalRelatedFileImagePreview}" />
        </f:if>
    </f:else>
</f:if>

<f:if condition="{mediaElement}">
    <f:then>

        <f:if condition="{settings}">
            <f:comment><!-- we need to check the image format --></f:comment>

            <v:variable.set name="image" value="{settings.list.media.image}" />
            <v:variable.set name="orgWidth" value="{mediaElement.originalResource.originalFile.properties.width}" />
            <v:variable.set name="orgHeight" value="{mediaElement.originalResource.originalFile.properties.height}" />

            <v:if stack="{0:newsItem.isPdfDownload,1:'==',2:'TRUE', 3:'AND', 4:orgHeight,5:'>',6:orgWidth}">
                <v:variable.set name="image" value="{settings.list.media.portraitImage}" />
                <v:variable.set name="heightClass" value="rectangularImage" />
            </v:if>
        </f:if>

        <f:if condition="{mediaElement.originalResource.type} == 2">
            <f:image src="{mediaElement.uid}" treatIdAsReference="1" class="article-image {heightClass} {floatClass}"
                     title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}"
                     height="{image.height}" width="{image.width}"
                     maxHeight="{image.maxHeight}" maxWidth="{image.maxWidth}" />
        </f:if>
        <f:if condition="{mediaElement.originalResource.type} == 4">
            <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{showDummy} == 1">
            <f:image src="{settings.latest.media.dummyImage}" class="article-image {heightClass} {floatClass}"
                     alt="{newsItem.title}"
                     height="{image.height}" width="{image.width}"
                     maxHeight="{image.maxHeight}" maxWidth="{image.maxWidth}" />
        </f:if>
    </f:else>
</f:if>
