{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}
<n:excludeDisplayedNews newsItem="{newsItem}" />

<v:variable.set name="newsCategory" value="{mbx:firstCategory(categories: newsItem.categories, exclude: settings.excludeCategoriesForMeta)}" />

<div class="article white-container spacer-medium{v:if(stack: '{0:settings.detailPid, 1:\'OR\', 2:newsCategory.singlePid}', then: ' linked')} clearfix">
    <f:render partial="List/ImagePreview" arguments="{newsItem: newsItem, settings: settings}" />

    <div class="article-content pull-right">
        <span class="meta grey font-small font-bold pull-right">
            <v:if stack="{0:newsCategory, 1:'AND', 2:settings.hideCategory,3:'!=',4:'1'}">{newsCategory.title}&nbsp;|&nbsp;</v:if>
            <f:format.date format="{f:translate(key: '{settings.languageFile}:dateFormat')}">{newsItem.datetime}</f:format.date>
        </span>

        <v:if stack="{0:settings.detailPid, 1:'OR', 2:newsCategory.singlePid}">
            <f:then>
                <f:if condition="{newsCategory.singlePid}">
                    <v:variable.set name="settings.detailPidDetermination" value="categories" />
                </f:if>

                <a href="{n:link(newsItem: newsItem, settings: settings, uriOnly: 'true')}" title="{f:if(condition: newsItem.linkText, then: newsItem.linkText, else: 'Mehr Informationen')}" class="black">
                    <p class="h3 darkblue"><f:render partial="Detail/NewsTitle" arguments="{data: newsItem.title}" /></p>
                    <f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{f:if(condition: newsItem.teaser, then: newsItem.teaser, else: newsItem.bodytext)}</f:format.crop></f:format.html>
                </a>
            </f:then>
            <f:else>
                <div class="text-wrap">
                    <p class="h3 darkblue"><f:render partial="Detail/NewsTitle" arguments="{data: newsItem.title}" /></p>
                    <f:format.html>{f:if(condition: newsItem.teaser, then: newsItem.teaser, else: newsItem.bodytext)}</f:format.html>
                </div>
            </f:else>
        </v:if>

        <hr />
        <f:if condition="{newsItem.magazineLink}">
            <ul class="article-downloads font-semibold clearfix">
                <li class="font-small"><v:link.typolink configuration="{parameter: newsItem.magazineLink, ATagParams: 'class=\"darkblue\"'}">{newsItem.magazineLinkText}</v:link.typolink></li>
            </ul>
        </f:if>

        <f:if condition="{newsItem.falRelatedFiles}">
            <ul class="article-downloads font-semibold clearfix">
                <f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
                    <f:render partial="Detail/FalRelatedFile" arguments="{relatedFile: relatedFile, height: settings.list.download.height, width: settings.list.download.width}" />
                </f:for>
            </ul>
        </f:if>

    </div>
</div>
