{namespace n=GeorgRinger\News\ViewHelpers}

<div class="job article spacer-medium white-container linked clearfix">
    <div class="article-content{f:if(condition: newsItem.teaser, else: ' no-text')} pull-right">
        <a href="{n:link(newsItem: newsItem, settings: settings, uriOnly: 'true')}" title="{f:if(condition: newsItem.linkText, then: newsItem.linkText, else: 'Mehr Informationen')}" class="black">
            {f:if(condition: newsItem.istopnews, then: '<div class="featured">neu</div>')}
            <p class="h3 darkblue"><f:render partial="Detail/NewsTitle" arguments="{data: newsItem.title}" /></p>
            <f:if condition="{newsItem.teaser}">
                <f:format.html>{newsItem.teaser}</f:format.html>
            </f:if>
        </a>
    </div>
</div>