
<f:if condition="{news ->f:count()} > 1">
    <f:then>
        <div class="mbx-dropdown-auto absolute-dropdown" ###error_job###>
            <select id="job" class="span8" name="###formValuesPrefix###[job]">
                <option value="">###LLL:select_default###</option>
                <f:for each="{news}" as="newsItem">
                    <option value="{newsItem.uid}" ###selected_job_{newsItem.uid}###>{newsItem.title}</option>
                </f:for>
            </select>
        </div>
    </f:then>
    <f:else>
        <f:for each="{news}" as="newsItem">
            <input id="job" type="text" name="###formValuesPrefix###[jobTitle]" value="{newsItem.title}" class="readonlyClean span8" readonly="true" />
            <input type="hidden" name="###formValuesPrefix###[job]" value="{newsItem.uid}" />
        </f:for>
    </f:else>
</f:if>