{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}
<div class="newswrapper vertical-image">
    <v:variable.set name="newsCategory" value="{mbx:firstCategory(categories: newsItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
    <n:link newsItem="{newsItem}" settings="{settings}">
        <div class="tiles">

            <!--<f:comment><span class="newscategory">{newsCategory.title}</span></f:comment>-->
            <span class="title"><f:cObject typoscriptObjectPath="lib.divideHeadline.regular" data="{newsItem.title}" /></span> 
            <span class="news-hr"></span>
            <span class="readmore">jetzt mehr erfahren</span> 
        </div>
        
        <f:if condition="{newsItem.verticalImage}">
            <f:then>
                <v:variable.set name="mediaElement" value="{newsItem.verticalImage}" />
            </f:then>
            <f:else>
                
                <f:if condition="{newsItem.firstFalImagePreview}">
                    <f:then>
                        <f:comment><!-- use special preview image --></f:comment>
                        <v:variable.set name="mediaElement" value="{newsItem.firstFalImagePreview}" />
                    </f:then>
                    <f:else>
                        <f:comment><!-- use default news image --></f:comment>
                        <v:variable.set name="mediaElement" value="{newsItem.firstFalNonImagePreview}" />
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
        
        <f:if condition="{mediaElement.originalResource.type} == 2">
            <f:then>
                <f:image src="{mediaElement.uid}"
                         treatIdAsReference="1"
                         title="{mediaElement.originalResource.title}"
                         alt="{mediaElement.originalResource.alternative}"
                         width=""
                         height="" />
            </f:then>
            <f:else>
                <f:image src="{settings.latest.media.dummyImage}"
                         alt="{newsItem.title}"
                         width=""
                         height="" />
            </f:else>
        </f:if>
    </n:link>
</div>