{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<div class="newswrapper">
    <v:variable.set name="newsCategory" value="{mbx:firstCategory(categories: newsItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
    <n:link newsItem="{newsItem}" settings="{settings}">

        <f:if condition="{newsCategory}">
            <!--<f:comment><span class="{f:if(condition: iconClass, then: iconClass, else: settings.newsstream.iconClasses.default)} top" title="{newsCategory.title}"></span><span class="news-title">{newsCategory.title}</span></f:comment>-->
        </f:if>
        <div class="tiles">

            <span class="newscategory"><f:cObject typoscriptObjectPath="lib.divideHeadline.regular" data="{newsItem.title}" /></span>
            <span class="news-hr"></span>
            <span class="readmore">jetzt mehr erfahren</span> 
        </div>
        
         <f:if condition="{newsItem.howogeBuildImage}">
            <f:then>
                <v:variable.set name="mediaElement" value="{newsItem.howogeBuildImage}" />
            </f:then>
            <f:else>
                
                <f:if condition="{newsItem.firstFalImagePreview}">
                    <f:then>
                        <f:comment><!-- use special preview image --></f:comment>
                        <v:variable.set name="mediaElement" value="{newsItem.firstFalImagePreview}" />
                    </f:then>
                    <f:else>
                        <f:comment><!-- use default news image --></f:comment>
                        <v:variable.set name="mediaElement" value="{newsItem.firstFalNonImagePreview}" />
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
        <f:if condition="{mediaElement.originalResource.type} == 2">
            <f:then>
                <f:image src="{mediaElement.uid}"
                         treatIdAsReference="1"
                         title="{mediaElement.originalResource.title}"
                         alt="{mediaElement.originalResource.alternative}"
                         width="{settings.howogeBaut.media.image.width}"
                         height="{settings.howogeBaut.media.image.height}" />
            </f:then>
            <f:else>
                <f:image src="{settings.latest.media.dummyImage}"
                         alt="{newsItem.title}"
                         width="{settings.howogeBaut.media.image.width}"
                         height="{settings.howogeBaut.media.image.height}" />
            </f:else>
        </f:if>
    </n:link>
</div>