{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<n:link newsItem="{newsItem}" settings="{settings}" class="teaser teaser-layout-1">
    <f:if condition="{newsItem.firstFalImagePreview}">
        <f:then>
            <f:comment><!-- use special preview image --></f:comment>
            <v:variable.set name="mediaElement" value="{newsItem.firstFalImagePreview}" />
        </f:then>
        <f:else>
            <f:comment><!-- use default news image --></f:comment>
            <v:variable.set name="mediaElement" value="{newsItem.firstFalNonImagePreview}" />
        </f:else>
    </f:if>
    <f:if condition="{mediaElement.originalResource.type} == 2">
        <f:then>
            <f:image src="{mediaElement.uid}"
                     treatIdAsReference="1"
                     title="{mediaElement.originalResource.title}"
                     alt="{mediaElement.originalResource.alternative}"
                     width="{settings.latest.media.image.width}"
                     height="{settings.latest.media.image.height}" />
        </f:then>
        <f:else>
            <f:image src="{settings.latest.media.dummyImage}"
                     alt="{newsItem.title}"
                     width="{settings.latest.media.image.width}"
                     height="{settings.latest.media.image.height}" />
        </f:else>
    </f:if>

    <f:if condition="{newsItem.pid} == {settings.eventStorage}">
        <div class="badge-event">
            <span>am</span>
            <span class="day">{newsItem.datetime -> f:format.date(format: 'd.')}</span>
            <span class="month">{newsItem.datetime -> f:format.date(format: '%b')}</span>
        </div>
    </f:if>

    <div class="content font-bold">
        <p class="meta font-small">
            <span class="category">{v:page.info(pageUid: newsItem.pid, field: 'title')}</span>
            <span class="date"> | <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></span>
        </p>
        <p class="h4 spacer-medium"><f:render partial="Detail/NewsTitle" arguments="{data: '{f:if(condition: newsItem.teaserTitle, then: newsItem.teaserTitle, else: newsItem.title)}'}" /></p>
        <f:format.html><f:format.crop maxCharacters="{settings.latest.cropMaxCharacters}" respectWordBoundaries="1">{f:if(condition: newsItem.teaser, then: newsItem.teaser, else: newsItem.bodytext)}</f:format.crop></f:format.html>
        <span class="font-small link">{f:if(condition: newsItem.linkText, then: newsItem.linkText, else: 'Mehr Informationen')}</span>
    </div>
</n:link>
