{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="pageTitle" value="{v:page.info(pageUid: eventItem.pid, field: 'title')}" />

<n:link newsItem="{eventItem}" settings="{settings}" class="teaser teaser-layout-1">
    <f:if condition="{eventItem.firstFalImagePreview}">
        <f:then>
            <f:comment><!-- use special preview image --></f:comment>
            <v:variable.set name="mediaElement" value="{eventItem.firstFalImagePreview}" />
        </f:then>
        <f:else>
            <f:comment><!-- use default news image --></f:comment>
            <v:variable.set name="mediaElement" value="{eventItem.firstFalNonImagePreview}" />
        </f:else>
    </f:if>
    <f:if condition="{mediaElement.originalResource.type} == 2">
        <f:then>
            <f:image src="{mediaElement.uid}"
                     treatIdAsReference="1"
                     title="{mediaElement.originalResource.title}"
                     alt="{mediaElement.originalResource.alternative}"
                     width="{settings.latest.media.image.width}"
                     height="{settings.latest.media.image.height}" />
        </f:then>
        <f:else>
            <f:image src="{settings.latestEvent.media.dummyImage}"
                     alt="{eventItem.title}"
                     width="{settings.latestEvent.media.image.width}"
                     height="{settings.latestEvent.media.image.height}" />
        </f:else>
    </f:if>

    <f:if condition="{eventItem.pid} == {settings.eventStorage}">
        <div class="badge-event">
            <span>am</span>
            <span class="day">{eventItem.eventStartDatetime -> f:format.date(format: 'd.')}</span>
            <span class="month">{eventItem.eventStartDatetime -> f:format.date(format: '%b')}</span>
        </div>
    </f:if>

    <div class="content font-bold">
        <p class="meta font-small">
            <span class="category">Nächstes Event</span>
            <span class="date"> | <f:format.date format="d.m.Y">{eventItem.eventStartDatetime}</f:format.date></span>
        </p>
        <p class="h4 spacer-medium"><f:render partial="Detail/NewsTitle" arguments="{data: '{f:if(condition: eventItem.teaserTitle, then: eventItem.teaserTitle, else: eventItem.title)}'}" /></p>
        <f:format.html><f:format.crop maxCharacters="{settings.latest.cropMaxCharacters}" respectWordBoundaries="1">{f:if(condition: eventItem.teaser, then: eventItem.teaser, else: eventItem.bodytext)}</f:format.crop></f:format.html>
        <span class="font-small link">{f:if(condition: eventItem.linkText, then: eventItem.linkText, else: 'Mehr Informationen')}</span>
    </div>
</n:link>
