{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<f:for each="{news}" as="newsItem">
    <v:variable.set name="newsCategory" value="{mbx:firstCategory(categories: newsItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
    <v:variable.set name="iconClass" value="{v:variable.get(name: 'settings.newsstream.iconClasses.{newsCategory.uid}', useRawKeys: 1)}" />

    <v:variable.set name="imageSize" value="{v:variable.get(name: 'settings.newsstream.image')}" />
    <v:variable.set name="cropMaxCharacters" value="{v:variable.get(name: 'settings.newsstream.cropMaxCharacters')}" />

    <f:if condition="{newsItem.firstFalImagePreview}">
        <f:then>
            <f:comment><!-- use special preview image --></f:comment>
            <v:variable.set name="mediaElement" value="{newsItem.firstFalImagePreview}" />
        </f:then>
        <f:else>
				<f:if condition="{newsItem.firstFalNonImagePreview}">
					<f:then>
            <f:comment><!-- use default news image --></f:comment>
            <v:variable.set name="mediaElement" value="{newsItem.firstFalNonImagePreview}" />
					</f:then>
					<f:else>
						<f:comment><!-- try to get first fal image(non-preview) --></f:comment>
						<v:variable.set name="mediaElement" value="{newsItem.falMedia.0}" />
					</f:else>
				</f:if>
        </f:else>
    </f:if>


    <f:if condition="{mediaElement.originalResource.type} == 2">
        <f:then>
            <v:variable.set name="backgroundImage" value="{v:uri.image(src:mediaElement.uid, treatIdAsReference:1, width:imageSize.width, height:imageSize.height)}" />
        </f:then>
        <f:else>
            <v:variable.set name="backgroundImage" value="{v:uri.image(src:settings.latest.media.dummyImage, treatIdAsReference:1, width:imageSize.width, height:imageSize.height)}" />
        </f:else>
    </f:if>

    <a href="{n:link(newsItem: newsItem, settings: settings, uriOnly: 'true')}"
       title="{f:if(condition: newsItem.linkText, then: newsItem.linkText, else: 'Lesen Sie mehr...')}"
       class="article span4" style="background: transparent url('{backgroundImage}') no-repeat 0 0">
        <v:variable.set name="specialCategory" value="{mbx:getCategory(categoryId: '{settings.newsstream.specialCategory}')}" />

        <f:if condition="{mbx:hasCategory(newsItem:'{newsItem}', categoryId:'{settings.newsstream.specialCategory}' )}">
            <f:then>
                <div class="contentWrap contentWrapNoGradient">
                    <span class="category {f:if(condition: iconClass, then: iconClass, else: settings.newsstream.iconClasses.default)} clearfix" title="{specialCategory.title}">
                        <span><f:cObject typoscriptObjectPath="lib.divideHeadline.regular" data="{specialCategory.description}" /></span>
                    </span>
                    <p class="title">{newsItem.title}</p>
                </div>
            </f:then>
            <f:else>
                <div class="contentWrap contentWrapGradient">
                    <div class="top">
                        <span class="bar"></span>
                        <span class="category {f:if(condition: iconClass, then: iconClass, else: settings.newsstream.iconClasses.default)}" title="{newsCategory.title}"></span>
                        <span class="bar"></span>
                    </div>

                    <div class="content">
                        <span class="category">{newsCategory.title}</span>
                        <p class="title">
                            <f:cObject typoscriptObjectPath="lib.divideHeadline.regular" data="{newsItem.title}" />
                        </p>
                        <span class="readmore">{f:if(condition: newsItem.linkText, then: newsItem.linkText, else: 'Lesen Sie mehr...')}</span>
                    </div>
                </div>
            </f:else>
        </f:if>
    </a>
</f:for>
