{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<f:for each="{news}" as="newsItem">
    <v:variable.set name="newsCategory" value="{mbx:firstCategory(categories: newsItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
    <v:variable.set name="iconClass" value="{v:variable.get(name: 'settings.newsstream.iconClasses.{newsCategory.uid}', useRawKeys: 1)}" />

    <v:variable.set name="imageSize" value="{v:variable.get(name: 'settings.newsstream.image')}" />
    <v:variable.set name="cropMaxCharacters" value="{v:variable.get(name: 'settings.newsstream.cropMaxCharacters')}" />

    <a href="{n:link(newsItem: newsItem, settings: settings, uriOnly: 'true')}" class="baut-newsstream link" title="{f:if(condition: newsItem.linkText, then: newsItem.linkText, else: 'Lesen Sie mehr...')}">
        <div class="clearfix">
            <div class="date">{newsItem.crdate -> f:format.date(format: 'd.')} {newsItem.crdate -> f:format.date(format: '%b')}</div>
            <div class="contentwrap">
                <span class="title"><f:format.crop maxCharacters="48" append="...">{newsItem.title}</f:format.crop></span>
                <span class="baut-newsstream readmore">Mehr erfahren</span>
            </div>
        </div>
    </a>
</f:for>

<a href="{settings.cropMaxCharacters}" class="load-more-news">Mehr News</a>
