{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<div class="upcoming-events clearfix">
    <f:for each="{events}" as="eventItem">
        <v:variable.set name="eventCategory" value="{mbx:firstCategory(categories: eventItem.categories, exclude: settings.excludeCategoriesForMeta)}" />
        <f:if condition="{eventCategory.singlePid}">
            <v:variable.set name="settings.detailPidDetermination" value="categories" />
        </f:if>

        <f:cycle values="{0: ' first', 1: '', 2: ''}" as="breakClass">
            <a href="{n:link(newsItem: eventItem, settings: settings, uriOnly: 'true')}"
               title="{f:if(condition: eventItem.linkText, then: eventItem.linkText, else: 'Mehr Informationen')}" class="upcoming-event blue-container spacer-medium{breakClass}">
                <div class="calendar">
                    <span class="day">{eventItem.eventStartDatetime -> f:format.date(format: 'd.')}</span>
                    <span class="month">{eventItem.eventStartDatetime -> f:format.date(format: '%b')}</span>
                </div>
                <div class="event-title">
                    <f:render partial="Detail/NewsTitle" arguments="{data: '{f:if(condition: eventItem.teaserTitle, then: eventItem.teaserTitle, else: eventItem.title)}'}" />
                </div>
            </a>
        </f:cycle>
    </f:for>

    <v:if stack="{0:settings.listPid, 1:'AND', 2:'{events -> f:count()}',3:'==',4:settings.limit}">
        <f:link.page pageUid="{settings.listPid}" class="darkblue font-small font-bold pull-right">
            <f:translate key="{settings.languageFile}:linkToEvents" />
        </f:link.page>
    </v:if>
</div>
