{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxReal=TYPO3\MbxRealestate\ViewHelpers}

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJVHK2G" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div style="padding: 40px">
    <f:format.raw>{mainContent}</f:format.raw>
</div>