{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxReal=TYPO3\MbxRealestate\ViewHelpers}

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJVHK2G" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<f:render partial="pageHeader" arguments="{menu: {main: mainMenu, meta: headerMetaMenu}}" />

<section id="content" data-role="content" role="main">
    <!--TYPO3SEARCH_begin-->
    <v:switch value="{feLayout}">
        <!-- homepage -->
        <v:case case="1" break="TRUE">
            <div class="header-image-wrap full-image full-image-{f:cObject(typoscriptObjectPath: 'lib.timeOfDay')}">
                <f:render partial="homepage/headerImage" arguments="{langFile: langFile}" />
            </div>
            <div class="container">
                <f:format.raw>{mainContent}</f:format.raw></div>
        </v:case>

        <!-- two-column-layout with left sidebar and submenu -->
        <v:case case="3" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container">
                <div class="row column-box column-box-2">
                    <div class="span8 pull-right"><f:format.raw>{mainContent}</f:format.raw></div>
                    <div class="span4">
                        <f:if condition="{subMenu}">
                            <!--TYPO3SEARCH_end-->
                            <nav class="sub-nav spacer-big clearfix"><f:format.raw>{subMenu}</f:format.raw></nav>
                            <!--TYPO3SEARCH_begin-->
                        </f:if>
                        <f:format.raw>{sidebarContent}</f:format.raw>
                    </div>
                </div>
            </div>
        </v:case>

        <!-- mieterrat startpage -->
        <v:case case="18" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />

            <div class="container">
                <div class="row">
                    <span class="span-12">
                        <f:render partial="headerImage/mieterratMap" arguments="{breadcrumbMenu: breadcrumbMenu}" />
                    </span>
                </div>

                <div class="row column-box column-box-2">
                    <div class="span8 pull-right"><f:format.raw>{mainContent}</f:format.raw></div>
                    <div class="span4">
                        <f:if condition="{subMenu}">
                            <!--TYPO3SEARCH_end-->
                            <nav class="sub-nav spacer-big clearfix"><f:format.raw>{subMenu}</f:format.raw></nav>
                            <!--TYPO3SEARCH_begin-->
                        </f:if>
                        <f:format.raw>{sidebarContent}</f:format.raw>
                    </div>
                </div>
            </div>
        </v:case>

        <!-- two-column-layout with right sidebar for detail pages with back button (e.g. news detail) -->
        <v:case case="4" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container">
                <div class="row column-box column-box-2 detail-layout">
                    <div class="span8"><f:format.raw>{mainContent}</f:format.raw></div>
                    <div class="span4"><f:format.raw>{sidebarContent}</f:format.raw></div>
                </div>
            </div>
        </v:case>

        <!-- two-column-layout for notepad page -->
        <v:case case="6" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container">
                <div class="row column-box column-box-2">
                    <div class="span8 pull-right">
                        <mbxReal:notepad.hasImmoobjects>
                            <f:then>
                                <f:format.raw>{mainContent}</f:format.raw>
                            </f:then>
                            <f:else>
                                <f:cObject typoscriptObjectPath="lib.emptyNotepadContent" />
                            </f:else>
                        </mbxReal:notepad.hasImmoobjects>
                    </div>
                    <div class="span4">
                        <mbxReal:notepad.hasImmoobjects>
                            <f:then>
                                <f:format.raw>{sidebarContent}</f:format.raw>
                            </f:then>
                            <f:else>
                                <f:cObject typoscriptObjectPath="lib.emptyNotepadSidebar" />
                            </f:else>
                        </mbxReal:notepad.hasImmoobjects>
                    </div>
                </div>
            </div>
        </v:case>

        <!-- two-column-layout exclusive offers detail page -->
        <v:case case="8" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container">
                <div class="row column-box column-box-2">
                    <div class="span8 pull-right"><f:format.raw>{mainContent}</f:format.raw></div>
                    <div class="span4">
                        <f:cObject typoscriptObjectPath="menu.subContacts" />
                    </div>
                </div>
                <f:format.raw>{sidebarContent}</f:format.raw>
            </div>
        </v:case>

        <!-- immoobject detail page (sidebar area used for related search items) -->
        <v:case case="7" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container">
                <f:format.raw>{mainContent}</f:format.raw>
                <f:format.raw>{sidebarContent}</f:format.raw>
            </div>
        </v:case>

        <!-- kiezmelder -->
        <v:case case="14" break="TRUE">
            <f:render partial="headerImage/kiezMelder" arguments="{breadcrumbMenu: breadcrumbMenu, feLayout: feLayout, langFile: langFile}" />
            <div class="container kiezmelder {f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.newsCategoryClass')}">
                <div class="row column-box column-box-2">
                    <div class="span8 mainColumn">
                        <f:format.raw>{mainContent}</f:format.raw>
                        <f:render partial="socialShare" />
                    </div>
                    <div class="span4{f:if(condition: '{f:cObject(typoscriptObjectPath: \'lib.kiez.kiezmelder.gallery\')}', then: ' kiezGallerySpacer')}"><f:format.raw>{sidebarContent}</f:format.raw></div>
                </div>

                <div class="relatedContent">
                    <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.relatedNews" />

                    <div class="column-header">{f:translate(key: '{langFile}:housingOffers')}<hr></div>
                    <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.immoobjects" />
                </div>
            </div>
        </v:case>

        <!-- kiezmelder | green -->
        <v:case case="15" break="TRUE">
            <div class="green-container">
                <f:render partial="headerImage/kiezMelder" arguments="{breadcrumbMenu: breadcrumbMenu, feLayout: feLayout, langFile: langFile}" />
                <div class="container kiezmelder {f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.newsCategoryClass')}">
                    <f:format.raw>{mainContent}</f:format.raw>
                    <f:render partial="socialShare" />
                </div>
            </div>

            <div class="relatedContent container">
                <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.relatedNews" />
                <div class="column-header">{f:translate(key: '{langFile}:housingOffers')}<hr></div>
                <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.immoobjects" />
            </div>
        </v:case>

        <!-- Mieterkonto | angemeldet -->
        <v:case case="16" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container">
                <div class="row column-box column-box-2">
                    <div class="span8 pull-right"><f:format.raw>{mainContent}</f:format.raw></div>
                    <div class="span4">
                        <f:if condition="{subMenu}">
                            <nav class="sub-nav spacer-big clearfix"><f:format.raw>{subMenu}</f:format.raw></nav>
                        </f:if>
                        <f:cObject typoscriptObjectPath="lib.renteraccount.sidebar.contacts" />
                        <f:format.raw>{sidebarContent}</f:format.raw>
                    </div>
                </div>
            </div>
        </v:case>
        <!--Howoge baut -->
        <v:case case="17" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="container howoge-baut">
                <f:cObject typoscriptObjectPath="lib.backToPreviousSite" />
                <f:format.raw>{mainContent}</f:format.raw>
                <f:cObject typoscriptObjectPath="lib.templateLogo" />
            </div>
        </v:case>
        <!--Azubi | Zeitstrahl -->
        <v:case case="19" break="TRUE">
            <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
            <div class="timeline-header-bg">
                <div class="timeline-header">
                    <img src="fileadmin/default/images/azubi/azubi_timeline.png" class="timeline-bg">
                    <div class="header-container row-fluid">
                        <div class="span6">
                            <v:content.render column="1" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-container container">
                <v:content.render column="0" />
            </div>
        </v:case>
        <!-- one-column-layout with background for headline and breadcrumb -->
        <v:case case="default">

            <v:switch value="{feLayout}">
                <!-- kiez overview page -->
                <v:case case="5" break="TRUE">
                    <f:render partial="headerImage/kiezOverview" arguments="{breadcrumbMenu: breadcrumbMenu}" />
                </v:case>

                <!-- kiez detail page -->
                <v:case case="9" break="TRUE">
                    <f:render partial="headerImage/kiezDetail" arguments="{breadcrumbMenu: breadcrumbMenu}" />
                </v:case>

                <!-- default cropped header image area -->
                <v:case case="default">
                    <f:render partial="headerImage/cropped" arguments="{breadcrumbMenu: breadcrumbMenu}" />
                </v:case>
            </v:switch>

            <f:cObject typoscriptObjectPath="menu.subExpandable" />
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.backToPreviousSite" />
                <f:format.raw>{mainContent}</f:format.raw>
                <f:if condition="{feLayout} == 9">
                    <div class="fb-button-wrap">
                        <f:cObject typoscriptObjectPath="lib.facebookButton" />
                    </div>
                </f:if>
            </div>
        </v:case>

    </v:switch>

    <f:if condition="{seo}">
        <div class="container info-container{f:if(condition: '{noSeoCropping}', then: ' no-crop')}"><f:format.raw>{seo}</f:format.raw></div>
    </f:if>
    <!--TYPO3SEARCH_end-->
</section>

<f:render partial="pageFooter" arguments="{menu: {footer: footerMenu, meta: footerMetaMenu}}" />

