{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{settings.mobile}">
    <f:else>
        <v:asset.script name="facebookImageFeedSettings{facebookImageFeedAlbumId}">
            var facebookImageFeedAlbumId = '{facebookImageFeedAlbumId}';
        </v:asset.script>

        {f:if(condition: feedHeadline, then: '<h3>{feedHeadline}</h3>')}
        <div id="jsFbImageFeed" class="fbImageFeed">
            <div id="jsFbImageFeedOverlay">Bilder werden geladen...</div>
            <ul id="jsFbImageFeedList" class="clearfix"></ul>
        </div>
    </f:else>
</f:if>
