<f:if condition="{mediaSettings.image.lightbox}">
    <f:then>
        <a rel="{mediaSettings.image.lightbox}" title="{mediaElement.caption}" href="{f:uri.image(src:'{mediaElement.uid}' treatIdAsReference:1 maxWidth:'800')}">
            <f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{mediaSettings.image.maxWidth}" maxHeight="{mediaSettings.image.maxHeight}" />
        </a>
    </f:then>
    <f:else>
        <f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{mediaSettings.image.maxWidth}" maxHeight="{mediaSettings.image.maxHeight}" />
    </f:else>
</f:if>