{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:variable.set name="media" value="{newsItem.falNonMediaPreviews}" />
<f:if condition="{media}">
	<div class="article-image pull-left">
		<f:for each="{media}" as="mediaElement" iteration="i">
            <f:if condition="{i.isFirst}">
                <f:if condition="{mediaElement.originalResource.type} == 2">
                    <f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, mediaSettings: mediaSettings}"/>
                    <f:if condition="{mediaElement.description}">
                        <p class="copyrights">{mediaElement.description}</p>
                    </f:if>
                </f:if>
            </f:if>
            <f:if condition="{mediaElement.originalResource.type} == 4">
                <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement, mediaSettings: mediaSettings}"/>
            </f:if>
		</f:for>
	</div>
</f:if>


