{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace n=GeorgRinger\News\ViewHelpers}

<li class="font-small {f:if(condition: '{showDescription} == "true"', then: ' span2')}">
    <f:if condition="{relatedFile.originalResource.type} == 2">
        <f:then>
            <f:comment><!-- image files with preview thumb --></f:comment>
            <f:link.page pageUid="{relatedFile.originalResource.publicUrl}" title="{relatedFile.originalResource.title}" class="darkblue" target="_blank">
                <f:image src="{relatedFile.uid}" treatIdAsReference="1"
                         alt="{relatedFile.originalResource.alternative}"
                         height="{height}" width="{width}" />

                <f:if condition="{relatedFile.originalResource.description}">
                    <f:then>
                        {relatedFile.originalResource.description}
                    </f:then>
                    <f:else>
                        <f:translate key="{settings.languageFile}:download.file.2" />
                    </f:else>
                </f:if>
                <span class="filesize font-semibold">(<n:format.fileSize fileSize="{relatedFile.originalResource.size}" format="{settings.relatedFiles.fileSizeLabels}" hideError="true" />)</span>
            </f:link.page>
        </f:then>

        <f:else>
            <f:comment><!-- files with download icon --></f:comment>
            <f:link.page pageUid="{relatedFile.originalResource.publicUrl}" title="{relatedFile.originalResource.title}" class="darkblue icon-download" target="_blank">
                <f:if condition="{relatedFile.originalResource.description}">
                    <f:then>
                        {relatedFile.originalResource.description}
                    </f:then>
                    <f:else>
                        <f:translate key="{settings.languageFile}:download.file.{relatedFile.originalResource.type}{f:if(condition: '{showDescription} == \"true\"', then: '.long')}" default="Datei" />
                    </f:else>
                </f:if>
                <span class="filesize font-semibold">(<n:format.fileSize fileSize="{relatedFile.originalResource.size}" format="{settings.relatedFiles.fileSizeLabels}" hideError="true" />)</span>
            </f:link.page>
        </f:else>
    </f:if>
</li>
