{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:asset.script name="flexSliderControl">
    jQuery(document).ready(function($) {
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 153,
            itemMargin: 3,
            asNavFor: '#slider'
        });

        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel"
        });
    });
</v:asset.script>
<v:asset.script path="fileadmin/default/js/lib/jquery.flexslider-min.js" name="flexSliderJs" allowMoveToFooter="true"></v:asset.script>
<v:asset.style path="fileadmin/default/css/lib/flexslider.css" name="flexSliderCss"></v:asset.style>

<div id="slider" class="flexslider sliderImageshow">
    <ul class="slides">
        <f:for each="{galleryImage}" as="image">
            <li>
                <f:image src="{image.uid}" width="612c" height="360" treatIdAsReference="1" alt="{image.originalResource.alternative}" />
            </li>
        </f:for>
    </ul>
</div>

<div id="carousel" class="carouselSlider flexslider sliderImageshow">
    <ul class="slides">
        <f:for each="{galleryImage}" as="image">
            <li>
                <f:image src="{image.uid}" width="153" height="120c" treatIdAsReference="1" alt="{image.originalResource.alternative}" />
            </li>
        </f:for>
    </ul>
</div>
