{namespace n=GeorgRinger\News\ViewHelpers}

<f:if condition="{newsItem.media}">
    <div class="video-wrap spacer-big">
        <f:for each="{newsItem.media}" as="video">
            <div class="video-item">
                <iframe src="{video.multimedia}" width="{mediaSettings.video.width}" height="{mediaSettings.video.height}"></iframe>
                <f:if condition="{video.caption}">
                    <p class="grey font-small">{video.caption}</p>
                </f:if>
            </div>
        </f:for>
    </div>
</f:if>
