{namespace n=GeorgRinger\News\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:condition.type.isObject value="{event}">
    <n:link newsItem="{event}" settings="{settings}" title="Mehr Informationen" class="{linkClass}">
        <div class="contentwrap">
            <f:if condition="{event.falMedia.0.uid}">
                <f:image src="{event.falMedia.0.uid}" width="246c" height="183c" treatIdAsReference="1" />
            </f:if>
            <div class="box-shadow">
                <div class="content">
                    <span class="meta"><f:format.raw>{event.title}</f:format.raw></span>
                </div>
            </div>
        </div>
    </n:link>
</v:condition.type.isObject>
