<!--TYPO3SEARCH_end-->
<div class="header-image-wrap cropped-image cropped-image-{f:cObject(typoscriptObjectPath: 'lib.timeOfDay')}">
    <div class="container">
        <f:render partial="breadcrumbMenu" arguments="{breadcrumb: breadcrumbMenu}" />
        <f:cObject typoscriptObjectPath="lib.claim" />
    </div>
</div>
<!--TYPO3SEARCH_begin-->