{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.breadCrumb entryLevel="2" endLevel="2" as="breadCrumb">
    <v:iterator.pop subject="{breadCrumb}" as="kiezPage">
        <div class="header-image-wrap kiezpage kiezpage-{kiezPage.uid} kiez-image"{f:cObject(typoscriptObjectPath: 'lib.kiez.detail.headerImage')}>
            <div class="container">
                <f:render partial="breadcrumbMenu" arguments="{breadcrumb: breadcrumbMenu}" />
                <f:cObject typoscriptObjectPath="lib.claim" />
                <f:cObject typoscriptObjectPath="lib.kiez.detail.gallery" />
                {f:if(condition: '{kiezPage.uid} > 0', then: '<div class="kiez-map">&nbsp;</div>')}
            </div>
        </div>
    </v:iterator.pop>
</v:page.breadCrumb>
