{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{feLayout} == 15">
    <f:then>

        <v:page.header.meta name="og:title" content="<v:format.eliminate characters='#'>{f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.fbTitle')}</v:format.eliminate>"></v:page.header.meta>
        <v:page.header.meta name="og:description" content="<v:format.eliminate characters='#'>{f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.fbDescription')}</v:format.eliminate>"></v:page.header.meta>
        <v:page.header.meta name="og:type" content="website"></v:page.header.meta>
        <v:page.header.meta name="og:url" content="{v:page.absoluteUrl()}"></v:page.header.meta>

        <div id="jsKiezmelderHeader"
             class="container kiezpage kiezmelder kiez-image {f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.newsCategoryClass')}"
             data-backhref=""
             data-backlink="{f:translate(key: '{langFile}:backToOverview')}">
            <f:render partial="breadcrumbMenu" arguments="{breadcrumb: breadcrumbMenu}" />
            <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.newsCategoryHeadline" />
        </div>

    </f:then>
    <f:else>

        <v:page.header.meta name="og:title" content="<v:format.eliminate characters='#'>{f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.fbTitle')}</v:format.eliminate>"></v:page.header.meta>
        <v:page.header.meta name="og:description" content="<v:format.eliminate characters='#'>{f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.fbDescription')}</v:format.eliminate>"></v:page.header.meta>
        <v:page.header.meta name="og:type" content="website"></v:page.header.meta>
        <v:page.header.meta name="og:url" content="{v:page.absoluteUrl()}"></v:page.header.meta>
        <v:page.header.meta name="og:image" content="{v:site.url()}{f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.headerImage')}"></v:page.header.meta>

        <div id="jsKiezmelderHeader"
             class="header-image-wrap container kiezpage kiezmelder kiez-image {f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.newsCategoryClass')}"
             data-backhref=""
             data-backlink="{f:translate(key: '{langFile}:backToOverview')}" style="background:url('/{f:cObject(typoscriptObjectPath: 'lib.kiez.kiezmelder.headerImage')}') no-repeat center top">
            <div class="headerImageFilter">
                <f:render partial="breadcrumbMenu" arguments="{breadcrumb: breadcrumbMenu}" />
                <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.claim" />
                <f:cObject typoscriptObjectPath="lib.kiez.kiezmelder.gallery" />
            </div>
        </div>

    </f:else>
</f:if>
