{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="header-image-wrap kiezpage kiez-map">
    <div id="kiezMap"></div>
    <div class="container">
        <f:render partial="breadcrumbMenu" arguments="{breadcrumb: breadcrumbMenu}" />
        <f:cObject typoscriptObjectPath="lib.kiez.overview.mapOverlay" />
        <div class="fb-button-wrap">
            <f:cObject typoscriptObjectPath="lib.facebookButton" />
        </div>
    </div>
</div>

<v:asset.script name="geoxml3" path="fileadmin/default/js/lib/geoxml3.js"></v:asset.script>
<v:asset.script name="kiezOverviewMap" path="fileadmin/default/js/kiez-map.js"></v:asset.script>
