{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="header-image-wrap kiez-map mieterrat-map">
    <div id="mieterratMap"></div>
</div>

<v:asset.script name="geoxml3" path="fileadmin/default/js/lib/geoxml3.js"></v:asset.script>
<v:asset.script name="mieterratMap" path="fileadmin/default/js/mieterrat-map.js"></v:asset.script>
