<f:layout name="Default" />

<f:section name="main">
    <div class="re-searchform-wrapper">
        <f:render partial="Immoobject/SearchForm/{settings.templateLayoutImmoobjectSearchForm}" arguments="{_all}" />
    </div>
</f:section>