<ul id="realestate-list">
    <f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">
        
        <li class="realestate-list-item item-{f:if(condition:itemIterator.isOdd, then: 'odd', else: 'even')}">
            <div class="item-wrapper">
                <f:link.action controller="Cookie" action="removeCookie" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'listNotepad'}}">entfernen</f:link.action> 
                <f:link.action action="show" arguments="{immoobject : immoobject}">
                    <div class="realestate-img">
                        <div class="noticed"></div>
                        <img src="" alt="" title="" />
                    </div>
                    <div class="realestate-data">
                        <p class="realestate-district">district</p>
                        <p class="realestate-address">
                            <span class="address-street">street</span>
                            <span class="address-city">city</span>
                        </p>
                        <ul class="realestate-basedata">
                            <li class="basedata-cost-gross">
                                <p>Warmmiete:</p>
                                <p>{immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                            </li>
                            <li class="basedata-area">
                                <p>Größe:</p>
                                <p>{immoobject.areaGeneral}</p>
                            </li>
                            <li class="basedata-rooms">
                                <p>Zimmer:</p>
                                <p>{immoobject.rooms}</p>
                            </li>
                        </ul>
                        <ul class="realestate-features">
                            <f:for each="{immoobject.immofeature}" as="immofeature">
                                <li>{immofeature.featureType}</li>
                            </f:for>
                        </ul>
                    </div>
                </f:link.action>
            </div>
        </li>     
        
    </f:for>
</ul>