{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<f:if condition="{f:count(subject:immoobjects)} > 0">
    <div id="notepad-flyout">
        <div>
            <f:link.page pageUid="{settings.search.notelistePage}">Mein Merkzettel</f:link.page>
            <div class="notelist-action"><div class="remove"><f:count>{immoobjects}</f:count></div></div>
        </div>
        <div class="clearfix">
            <p><strong class="darkblue">Zuletzt hinzugefügte Objekte:</strong></p>
            <ul class="clearfix">
                <f:for each="{immoobjects}" as="immoobject" iteration="itemIterator">
                    <v:variable.set name="detailPage" value="{f:if(condition: '{immoobject.pid} == {settings.storages.gewerbe.pid}', then: settings.search.commerce.detailPage, else: settings.search.detailPage)}" />

                    <f:if condition="{itemIterator.cycle} <= 3">
                        <li class="realestate-list-item">
                            <div class="item-wrapper">

                                <div class="immo-information mini clearfix">
                                    <div class="immoresult-previmg">

                                        <f:link.action arguments="{immoobject: immoobject}" pageUid="{detailPage}">
                                            <mbxrevh:previewImage immoobject="{immoobject}">
                                                <f:image src="{src}" alt="{immoobject.immoaddress.street}" width="140c" height="140c" />
                                            </mbxrevh:previewImage>
                                        </f:link.action>
                                    </div>

                                    <div class="immo-data">

                                        <div class="notelist-bucket small">
                                            <div>
                                                <f:link.action action="dropCookie" controller="Cookie" rel="nofollow" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'listNotepad', arguments : searchArgs}}">von Merkzettel entfernen</f:link.action>
                                            </div>
                                        </div>

                                        <f:link.action arguments="{immoobject : immoobject}" pageUid="{detailPage}">

                                            <mbxrevh:immoaddress.assign immoobject="{immoobject}" immoaddressRepository="{immoaddressRepository}">
                                                <div class="district"><mbxrevh:immoaddress.district immoaddress="{immoaddress}"/></div>
                                                <div class="address darkblue">
                                                    <strong>{immoaddress.street},</strong>
                                                    <span class="city">{immoaddress.zip} {immoaddress.city}</span>
                                                </div>
                                                <div class="immo-basedata clearfix">
                                                    <ul>
                                                        <li>
                                                            <p class="darkblue">Warmmiete:</p>
                                                            <p class="darkblue">{immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                                                        </li>
                                                        <li>
                                                            <p>Größe:</p>
                                                            <p>{immoobject.areaGeneral -> f:format.number(decimals: '2', decimalSeparator: ',', thousandsSeparator: '.')} m&sup2;</p>
                                                        </li>
                                                        <li>
                                                            <p>Zimmer:</p>
                                                            <p>{immoobject.rooms}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </mbxrevh:immoaddress.assign>
                                            <div class="continue"></div>
                                        </f:link.action>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </f:if>
                </f:for>
            </ul>


            <div class="notepad-flyout-footer clearfix">
                <div class="pull-left">
                   <f:link.page class="font-small" title="Merkzettel versenden" pageUid="{settings.search.notelistePage}">Merkzettel versenden</f:link.page>
                </div>
                <div class="pull-right">
                    <f:link.page class="btn btn-primary" title="Alle Wohnungen anzeigen" pageUid="{settings.search.notelistePage}"><strong>Alle Objekte anzeigen</strong></f:link.page>
                </div>
            </div>
        </div>
    </div>
</f:if>
