{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}
<f:if condition="{immoobjects -> f:count()} > 0">

    <h1>{f:if(condition: '{immoobjects -> f:count()} == 1', then: 'Sie haben ein Objekt auf Ihrem Merkzettel', else: 'Sie haben {immoobjects -> f:count()} Objekte auf Ihrem Merkzettel')}</h1>

        <div id="immo-results">

            <mbxrevh:widget.paginate objects="{immoobjects}" as="paginatedImmoobjects" configuration="{customQuery : 1, asPager : 'renderedPager', itemsPerPage: perPage, maximumNumberOfLinks: 3}">

                <div class="results-list-header clearfix">
                    <div class="absolute-dropdown dropdown-sort-by">
                        <label class="darkblue">Sortieren nach:</label>
                        <f:form method="get" pageUid="{settings.search.notelistePagePage}">
                            <f:form.select name="immosearch[sort]" options="{sortItems}" value="{predefined.sort}" id="re-search-sort" />
                            <f:form.hidden name="immosearch[merge]" value="" />
                            <f:form.hidden name="search_realestate" value="" />
                            <f:form.textfield name="search_realestate" value="Sortieren" type="submit" />
                        </f:form>
                    </div>
                    <div class="paginator-wrapper">
                        <span class="darkblue"><strong>Seite</strong></span>{renderedPager}
                    </div>
                </div>

                <ul id="realestate-list" class="general-results-list">
                    <f:for each="{paginatedImmoobjects}" as="immoobject" iteration="itemIterator">
                        <v:variable.set name="detailPage" value="{f:if(condition: '{immoobject.pid} == {settings.storages.gewerbe.pid}', then: settings.search.commerce.detailPage, else: settings.search.detailPage)}" />

                        <li class="realestate-list-item">
                            <div class="item-wrapper">

                                <div class="immo-information clearfix">
                                    <div class="immoresult-previmg">

                                        <f:link.action arguments="{immoobject: immoobject}" pageUid="{detailPage}">
                                            <mbxrevh:previewImage immoobject="{immoobject}">
                                                <f:image src="{src}" alt="{immoobject.immoaddress.street}" width="140c" height="140c" />
                                            </mbxrevh:previewImage>
                                        </f:link.action>

                                        <f:link.action arguments="{immoobject: immoobject}" pageUid="{detailPage}">
                                            <div class="preview-thumbs">
                                                <mbxrevh:galleryV2 immoobject="{immoobject}" immoimageRepository="{immoimageRepository}" configuration="{limit : 2, type : 'in', categories : settings.images.defaultCategory}">
                                                    <f:for each="{images}" as="image" iteration="itemIteratorPrevImage">
                                                        <div><f:image src="{image.imagePath}{image.filename}" alt="{image.description}" title="{image.description}" width="108" height="88" /></div>
                                                    </f:for>
                                                </mbxrevh:galleryV2>
                                            </div>
                                        </f:link.action>

                                    </div>
                                    <div class="immo-data">

                                        <div class="notelist-bucket">
                                            <div>
                                                <f:link.action action="dropCookie" controller="Cookie" rel="nofollow" arguments="{value : immoobject, cookie : 'notepad', redirectConfiguration : { controller : 'Immoobject', action : 'list', arguments : searchArgs}}">von Merkzettel entfernen</f:link.action>
                                            </div>
                                        </div>

                                        <f:link.action arguments="{immoobject : immoobject}" pageUid="{detailPage}">
                                            <mbxrevh:immoaddress.assign immoobject="{immoobject}" immoaddressRepository="{immoaddressRepository}">
                                                <div class="district"><mbxrevh:immoaddress.district immoaddress="{immoaddress}"/></div>
                                                <div class="address darkblue font-bold">{f:if(condition: '{immoobject.pid} == {settings.storages.gewerbe.pid}', then: '{immoobject.typeOfUse} | ')}{immoaddress.street}, {immoaddress.zip} {immoaddress.city}</div>
                                                <div class="immo-basedata clearfix">
                                                        <ul class="unstyled row-fluid">
                                                            <li class="span4">
                                                                <p class="darkblue">Warmmiete:</p>
                                                                <p class="darkblue">{immoobject.costGross -> f:format.currency(currencySign: '&euro;', decimalSeparator: ',', thousandsSeparator: '.', separateCurrency: 1, decimals: 2)}</p>
                                                            </li>
                                                            <li class="span4">
                                                                <p>Größe:</p>
                                                                <p>{immoobject.areaGeneral -> f:format.number(decimals: '2', decimalSeparator: ',', thousandsSeparator: '.')} m&sup2;</p>
                                                            </li>
                                                            <li class="span4">
                                                                <p>Zimmer:</p>
                                                                <p>{immoobject.rooms}</p>
                                                            </li>
                                                        </ul>
                                                </div>
                                            </mbxrevh:immoaddress.assign>
                                            <div class="features clearfix">
                                                <ul><f:for each="{immoobject.immofeature}" as="immofeature">
                                                        <li>{immofeature.featureTitle}</li>
                                                    </f:for>
                                                </ul>
                                            </div>
                                            <div class="continue"></div>
                                        </f:link.action>

                                    </div>
                                </div>
                            </div>
                        </li>

                    </f:for>
                </ul>

                <div class="results-list-footer clearfix">
                    <div class="absolute-dropdown dropdown-per-page open-top">
                        <label class="darkblue">Ergebnisse pro Seite</label>
                        <f:form method="get" pageUid="{settings.search.notelistePage}">
                            <f:form.select name="immosearch[perPage]" options="{perPageItems}" value="{predefined.perPage}" id="re-search-perpage" />
                            <f:form.hidden name="immosearch[merge]" value="" />
                            <f:form.hidden name="search_realestate" value="" />
                            <f:form.textfield name="search_realestate" value="Anzeigen" type="submit" />
                        </f:form>
                    </div>
                    <div class="paginator-wrapper">
                        <span class="darkblue"><strong>Seite</strong></span>{renderedPager}
                    </div>
                </div>

            </mbxrevh:widget.paginate>


        </div>

</f:if>
