{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbxrevh=TYPO3\MbxRealestate\ViewHelpers}

<f:if condition="{f:count(subject:immoobjects)} > 0">
    <div class="notepad-count">{immoobjects -> f:count()}</div>
</f:if>
