{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxNewsHowoge\ViewHelpers}

<f:layout name="General"/>

<f:section name="content">
    <v:asset.script path="fileadmin/default/js/lib/masonry.pkgd.min.js" name="masonryJs"
                    allowMoveToFooter="true"></v:asset.script>
    <v:asset.script path="fileadmin/default/js/lib/oms.min.js" name="mapMarkerSpider"
                    allowMoveToFooter="true"></v:asset.script>
    <v:asset.script path="fileadmin/default/js/extensions/eventMasonryList.js" name="eventMasonryListJs"
                    allowMoveToFooter="true"></v:asset.script>
    <v:asset.script path="fileadmin/default/js/lib/zabuto_calendar.min.js" name="zabutoCalJs"></v:asset.script>
    <v:asset.style path="fileadmin/default/css/extensions/eventMasonryList.css"
                   name="eventMasonryListCss"></v:asset.style>
    <v:asset.style path="fileadmin/default/css/lib/zabuto_calendar.min.css"
                   name="zabutoCalCss"></v:asset.style>
    <f:render section="listStyle" arguments="{_all}"/>
</f:section>

<f:section name="listStyle">
    <div class="event-masonry-list">
        <div class="filter-buttons-warp">
            <ul class="category-list nav inline">
                <li>
                    <f:link.page pageUid="{contentObjectData.pid}" class="iconfont-news">Alle Veranstaltungen
                    </f:link.page>
                </li>
                <li>
                    <f:link.action arguments="{overwriteDemand:{categories: settings.event.howogeEventCategoryId}}"
                                   title="Howoge Events"
                                   class="iconfont-star">Howoge Events
                    </f:link.action>
                </li>
                <li>
                    <f:link.action arguments="{overwriteDemand:{categories: settings.event.buildingProjectCategoryId}}"
                                   title="Bauprojekte"
                                   class="iconfont-bricks">Tag der offenen Baustelle
                    </f:link.action>
                </li>
            </ul>
        </div>

        <div class="grid">
            <f:render partial="List/EventMasonryMap" arguments="{events: events}"/>

            <div class="stamp" id="calendar">
                <f:render partial="List/EventCalendar" arguments="{events: events}"/>
            </div>
			
			<f:if condition="{staticInfoBox}">
				<a href="{f:uri.typolink(parameter: '{staticInfoBox.link}')}" title="{f:if(condition: staticInfoBox.title, then: staticInfoBox.title, else: 'Mehr Informationen')}" class="grid-item" style='display:block;background:url("{f:if(condition: '{staticInfoBox.image.storage} == 2', then: '/fileadmin/user_upload', else: '/fileadmin')}{staticInfoBox.image.identifier}");background-repeat:no-repeat;background-position:center;background-size:306px 228px; '>
					<div class="contentwrap">
						<div class="top">
							<div class="badge-howoge-event">HOWOGE Events</div>
						</div>
						<div class="box-shadow">
							<div class="content">
								<p class="title">
									<f:format.crop maxCharacters="55">{staticInfoBox.title}</f:format.crop>
								</p>
                                <span class="meta"> 
                                    {eventItem.eventStartDatetime -> f:format.date(format: dateFormat)} {f:if(condition: '{endDate} > {startDate}', then: ' - {eventItem.eventEndDatetime -> f:format.date(format: dateFormat)}')} 
                                </span>
							</div>
						</div>
					</div>
				</a>
			</f:if>
            <mbx:widget.paginate objects="{events}" as="paginatedEvents" configuration="{settings.list.paginate}">
                <f:for each="{events}" as="eventItem" iteration="iteration">
                    <f:render partial="List/EventMasonryItem"
                              arguments="{eventItem: eventItem, settings:settings, iteration:iteration}"/>
                </f:for>
            </mbx:widget.paginate>
        </div>
        <f:comment>
            <div class="loader-wrapper">
                <button class="load-more">Mehr laden</button>
            </div>
        </f:comment>
        <script type="application/javascript">
            window.onload = function () {
                var loading = new LoadMore('.load-more');
            }
        </script>
    </div>
    
</f:section>

