<div class="container">
    <div class="row">
        <div class="span4">
            <f:cObject typoscriptObjectPath="lib.immosearchFlyout" />
            <f:cObject typoscriptObjectPath="lib.claim" />
        </div>
        <div class="span5">
            <f:cObject typoscriptObjectPath="lib.teaserHomepageBig" />
        </div>
        <div class="span3">
            <f:render partial="homepage/weatherWidget" arguments="{langFile: langFile}" />
            <f:cObject typoscriptObjectPath="lib.teaserHomepageSmall" />
        </div>
    </div>
    <div class="socialButtonContainer">
        <f:cObject typoscriptObjectPath="lib.facebookButton" />
        <f:cObject typoscriptObjectPath="lib.pinterestButton" />
    </div>
</div>