{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mbx=TYPO3\MbxContentHowoge\ViewHelpers}

<v:variable.set name="hour" value="{f:format.date(date: 'now', format: 'H')}" />
<v:variable.set name="dayOfWeek" value="{f:format.date(date: 'now', format: 'l')}" />
<v:variable.set name="month" value="{f:format.date(date: 'now', format: 'M')}" />

<div id="weather" class="header-teaser timeofday-{f:cObject(typoscriptObjectPath: 'lib.timeOfDay')}">
    <div class="smartweather"></div>
    <b class="day">
        <f:translate key="{langFile}:{dayOfWeek}" default="{dayOfWeek}" />,&#x202F;{f:format.date(date: 'now', format: 'j.')}&#x202F;<f:translate key="{langFile}:{month}" default="{month}" />&#x202F;{f:format.date(date: 'now', format: 'Y')}
    </b>
    <div class="h1 white">

    </div>
</div>
