<f:render section="paginator" arguments="{pagination: pagination}" />

<f:section name="paginator">
    <ul class="f3-widget-paginator">
        
        <f:if condition="{pagination.displayRangeStart} > 1">
            <li class="first text-pager">
            <f:widget.link>1</f:widget.link>
            </li>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="dots text-pager">...</li>
        </f:if>
        <f:for each="{pagination.pages}" as="page">
            <f:if condition="{page.isCurrent}">
                <f:then>
                    <li class="current text-pager">
                        {page.number}
                    </li>
                </f:then>
                <f:else>
                    <li class="default text-pager">
                    <f:if condition="{page.number} > 1">
                        <f:then>
                            <f:widget.link arguments="{currentPage: page.number}">{page.number}</f:widget.link>
                        </f:then>
                        <f:else>
                            <f:widget.link>{page.number}</f:widget.link>
                        </f:else>
                    </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="dots text-pager">...</li>
        </f:if>
        <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
            <li class="last text-pager">
            <f:widget.link arguments="{currentPage: pagination.numberOfPages}">{pagination.numberOfPages}</f:widget.link>
            </li>
        </f:if>
        
        <f:if condition="{pagination.previousPage}">
            <li class="previous btn-primary btn">
            <f:if condition="{pagination.previousPage} > 1">
                <f:then>
                    <f:widget.link arguments="{currentPage: pagination.previousPage}" title="{f:translate(key: 'widget.pagination.previous')}"><f:translate key="widget.pagination.previous" /></f:widget.link>
                </f:then>
                <f:else>
                    <f:widget.link title="{f:translate(key: 'widget.pagination.previous')}"><f:translate key="widget.pagination.previous" /></f:widget.link>
                </f:else>
            </f:if>
            </li>
        </f:if>
        
        <f:if condition="{pagination.nextPage}">
            <li class="next btn-primary btn">
            <f:widget.link arguments="{currentPage: pagination.nextPage}" title="{f:translate(key: 'widget.pagination.next')}"><f:translate key="widget.pagination.next" /></f:widget.link>
            </li>
        </f:if>
    </ul>
</f:section>
