{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="meta-wrap row">
            <f:cObject typoscriptObjectPath="lib.imageCopyrights" />
            <f:format.raw>{menu.meta}</f:format.raw>
        </div>
        <div class="row">
            <div class="span9"><f:format.raw>{menu.footer}</f:format.raw></div>
            <f:comment><div class="span3 facebook-likebox">
                <div class="fb-like-box" data-href="http://www.facebook.com/howoge" data-width="232" data-height="232" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </div></f:comment>
            <div class="span3 fb-wrapper">
                <div class="fb-click2like" title="2 Klicks für mehr Datenschutz: Erst wenn Sie hier klicken, wird der Button aktiv und Sie können Ihre Empfehlung an Facebook senden. Schon beim Aktivieren werden Daten an Dritte übertragen."></div>
                <div class="fb-page" data-href="http://www.facebook.com/howoge" data-width="232" data-height="232" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"><div class="fb-xfbml-parse-ignore"></div></div>
            </div>
        </div>
    </div>
</footer>

<div id="fb-root"></div>
<v:asset.script name="facebook">
    /**facebook two way auth***/
    jQuery(document).ready(function($) {
        $('.fb-click2like').bind('click', function() {
            if($("#fb-root").length == 0) {            
                $('body').append('<div id="fb-root"></div>');            
            }         
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=324531897637273";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            $('.fb-click2like').hide();
        }).tipTip({
            defaultPosition : 'top',
            fadeOut : 500
        }).css({ cursor : 'pointer' });
    });
</v:asset.script>
