{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<header id="header" role="banner">
    <div id="cookie-note">
        <span class="">Die Webseite der HOWOGE verwendet Cookies. Durch den Besuch unserer Webseite erklären Sie sich mit der Verwendung von Cookies einverstanden. <a href="https://www.howoge.de/datenschutz.html" target="_blank" class="details">mehr</a> <span class="close-btn">Schließen <span class="x-btn">X</span></span></span>
    </div>
    <div class="meta-wrap">
        <div class="container">
            <div class="span9"><f:format.raw>{menu.meta}</f:format.raw></div>
            <a id="logo" href="/" itemscope itemtype="http://schema.org/LocalBusiness">
                <img src="{f:cObject(typoscriptObjectPath: 'lib.logoSrc')}" alt="HOWOGE Wohnungsbaugesellschaft mbH" width="177" height="61" itemprop="logo" />
                <meta itemprop="url" content="http://www.howoge.de">
                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="postalCode" content="13055">
                    <meta itemprop="addressLocality" content="Berlin">
                    <meta itemprop="streetAddress" content="Ferdinand-Schultze-Str. 71">
                </span>
            </a>
        </div>
    </div>

    <nav class="main-nav container" role="navigation">
        <v:page.menu pageUid="1" as="menuItems">
            <ul class="nav inline">
                <f:for each="{menuItems}" as="firstLevelItem" iteration="iteration">
                    <f:render partial="Navigation/Main/FirstLevelItem" arguments="{_all}" />
                </f:for>
            </ul>
        </v:page.menu>
    </nav>
</header>
