{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div id="jsArticleSocialShare" class="spacer-big"></div>
<v:asset.script name="articlesocialshare">
jQuery(document).ready(function() {
    if(typeof jQuery.fn.socialSharePrivacy === 'function') {

    jQuery.fn.socialSharePrivacy.settings.order = ['facebook', 'gplus', 'twitter', 'pinterest', 'mail'];

        jQuery('#jsArticleSocialShare').socialSharePrivacy({
            services:   {
                facebook:   {
                    'dummy_line_img': '../socialshareprivacy/images/dummy_facebook.png'
                },
                twitter: {
                    'dummy_line_img': '../socialshareprivacy/images/dummy_twitter.png'
                },
                gplus: {
                    'dummy_line_img': '../socialshareprivacy/images/dummy_gplus.png'
                },
                pinterest: {
                    'status' : true
                }
            },
            'css_path':     'css/socialshareprivacy.css',
            'lang_path':    '/fileadmin/default/js/lib/socialshareprivacy/lang/',
            'language':     'de',
            'path_prefix':  '/fileadmin/default/js/lib/socialshareprivacy2/'
        });
    }
});
</v:asset.script>
